<!-- $Id: clock.html,v 1.3 2007/04/11 01:44:51 angelside Exp $ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_CLOCK}</h3>
			<div align="center">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" id="clock" width="125" height="125">
					<param name="wmode" value="transparent">
					<param name="movie" value="bb3portal/images/clock.swf" />
					<param name="quality" value="high" />
					<embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" name="clock" width="125" height="125" src="bb3portal/images/clock.swf" quality="high" wmode="transparent">
					</embed>
				</object>
			</div>
			<br />
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" />