<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h2 class="supersize">RPG depends on your support.</h2>

<div class="special panel">
	<p class="supersize">RPG was founded by a small group of writers who rely on your donations to keep things running.  To help us cover some of our costs, please consider giving us a small, one-time donation.  You'll receive <a href="/medals/contributor">the Contributor medal</a>, available only to those who donate.</p>
  
  <h3>Prefer a subscription?</h3>
  <p>If you'd prefer a subscription, <a href="https://patreon.com/RolePlayGateway">try our official Patreon</a>.  There's an extra bonus.  <a href="https://patreon.com/RolePlayGateway" class="button">Head to Patreon &raquo;</a></p>

  <center><img src="/images/hr.png" style="max-height: 75px; margin: 1em 0;" /></center>

	<style type="text/css">
		.donation-button {
			font-size: 2em;
			font-weight: bold;
			width: 100%;
			padding: 0.2em;
			text-align: right;
		}
	</style>

	<table width="100%">
		<tr>
			<td width="50%" valign="top" style="padding: 0.2em;">
				<h2>Donate with Dollars <small>(credit card or PayPal)</small></h2>
				<p>Use PayPal to send us dollars, even using a credit card.  <strong>If you want Contributor status, use the same email as your RPG account.<br /><br /></p>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="RolePlayGateway Donation">
					<input type="hidden" name="item_number" value="$1 donation">
					<input type="hidden" name="amount" value="1.00">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate $1 &nbsp;&nbsp;&raquo;">
					<img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
				</form>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="RolePlayGateway Donation">
					<input type="hidden" name="item_number" value="$5 donation">
					<input type="hidden" name="amount" value="5.00">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate $5 &nbsp;&nbsp;&raquo;">
					<img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
				</form>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="RolePlayGateway Donation">
					<input type="hidden" name="item_number" value="$10 donation">
					<input type="hidden" name="amount" value="10.00">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate $10 &nbsp;&raquo;">
					<img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
				</form>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="RolePlayGateway Donation">
					<input type="hidden" name="item_number" value="$25 donation">
					<input type="hidden" name="amount" value="25.00">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate $25  &raquo;">
					<img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
				</form>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="RolePlayGateway Donation">
					<input type="hidden" name="item_number" value="$100 donation">
					<input type="hidden" name="amount" value="100.00">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate $100 &raquo;">
					<img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
				</form>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

					<!-- Identify your business so that you can collect the payments. -->
					<input type="hidden" name="business" value="admin@roleplaygateway.com">

					<!-- Specify a Donate button. -->
					<input type="hidden" name="cmd" value="_donations">

					<!-- Specify details about the contribution -->
					<input type="hidden" name="item_name" value="User-selected donation">
					<input type="hidden" name="item_number" value="user-selected-donation">
					<input type="hidden" name="currency_code" value="USD">

					<input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

					<!-- Display the payment button. -->
					<input type="submit" class="donation-button" name="submit" value="Donate Another Amount &raquo;">
					<img alt="" border="0" width="1" height="1"
					src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

				</form>

			</td>
			<td width="50%" valign="top">
				<h2>Donate with Bitcoin <small>(currency of the Internet)</small></h2>
				<p>
					<center>
						<form action="https://bitpay.com/checkout" method="post">
							<input type="hidden" name="action" value="checkout" />
							<input type="hidden" name="posData" value="" />
							<input type="hidden" name="data" value="D7lyzTUr5QfUewxGqWXw+NklGVgZsJpL2QYBFSAe7lhEwKEYFwEjq4ySM4kSj0i2rg1PfV8krk8mRgcxpGfO8U6N3QYZ+YrVdUGDsm/ym4UPhEmKoqms2qAvC9FiWFcM4Lv4A/4I3blvso/VvJbYm/tyYfyG7zzgXHlvKoyxe6S2LFrRg9cL3BO2R6eMaQ/mQuB8wbRmpo0NyeVW14EDJubzk+O9+jWk7dcFdOVwDyL6p/i0mZWRKbFpy/P7iUABjMFconz7D9zfNN+HCoj4OxeZO/kVJbcskg+otqpNI28=" />
							<input type="image" src="https://bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins.">
						</form>
					</center>
				</p>
				<p>Clicking the code below will launch your Bitcoin wallet (if you have one), or you can simply scan it with your mobile wallet.  <a href="https://bitcoin.org">Learn more about Bitcoin at bitcoin.org &raquo;</a></p>
				<center>
					<a href="bitcoin:3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66">
						<img src="/images/3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66.png" /><br />
						3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66
					</a>
				</center>
			</td>
		</tr>
	</table>

  <div style="padding: 1em;">
    <p><strong>Achievements:</strong> Possession of the Contributor medal grants you early access to new features, and grants you a special voice in certain rooms on <abbr title="???">Fabric</abbr>.  Once you possess the Contributor medal, all future rewards are added to your account automatically!</p>
  </div>

</div>

<!-- INCLUDE overall_footer.html -->
