<ul class="topiclist">
	<li class="header">
			<dl class="icon">
			<dt>{SEO_MAIN_TITLE}</dt>
		</dl>
	</li>
</ul>
<ul class="topiclist forums">
<!-- BEGIN defaultrow -->	
	<li class="row">
			<dl class="icon" style="background-image: url({defaultrow.STATUS_IMG}); background-repeat: no-repeat;">
			<dt id="{defaultrow.OPTION}"><a href="{defaultrow.U_CACHE_ACTION}#seo_top" class="top2"><b>{defaultrow.TITLE}</b></a><br/><ul style="margin-left:20px">{defaultrow.TITLE_EXPLAIN}</ul><br/>
			</dt>
		</dl>
	</li>
<!-- END defaultrow -->
</ul>
