 <!-- INCLUDE overall_header.html -->
<h2>About RolePlayGateway</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<img src="http://www.roleplaygateway.com/images/roleplaygateway.png" style="float:right; margin:10px;" alt="RolePlayGateway Logo" />
			<a name="objective"></a>
			<p style="font-size:1.5em;"><strong>RolePlayGateway's Objective:</strong> RolePlayGateway aims to provide an open roleplaying community in which roleplayers have the opportunity to build lasting friendships with one another through their common pastimes, while offering the tools and guidance to make it possible for roleplayers of all skill levels to improve upon their abilities and aptitude in related skills.</p>
			<p>We're here to grow and share the roleplaying experience with everyone.</p>
			<p>In what started as a small chatroom, a group of strangers learned about one another through roleplay and chat - and became lifelong friends.  Many years later, some of these friends teamed up to create <strong>RolePlayGateway</strong> (RPG), with the hopes of giving other people that same opportunity to build lifelong relationships that a simple chat room had given them so long ago.</p>
			<p>We <strong>let people <a href="http://www.roleplaygateway.com/advertise/" title="Advertise Your Roleplay">advertise</a> their sites</strong>, as we're all about <em>sharing</em> and <em>enjoying</em> the roleplaying experience.  We understand that our site might not be the best place for you, and while we'll work really hard to make sure you have fun here, we'll also be sure to help you <a href="http://www.roleplaygateway.com/places-roleplay-t2563.html" title="Places to Roleplay">find another roleplaying site</a> that fits your style of roleplay.</p>
			<p><strong>We're always open to suggestions and criticism, so please <a href="http://www.roleplaygateway.com/posting.php?mode=reply&f=11&t=351">give us your feedback</a>, positive or negative.  We strive to become the best community possible, so your feedback is vital to our constant process of improvements and refinements.</strong></p>
			<h3>Who are we?</h3>
			<p>Listed below are our senior staff members, who are in charge of various parts of <a href="http://www.roleplaygateway.com/the-team.html">the RolePlayGateway Staff</a>.</p>
			
			<div style="text-align:center; margin-left:auto; margin-right:auto; width:100%;">
				<table width="100%">
                                <tbody>
				<tr>
		                <!-- BEGIN owners --> 
				<td align="center">
				       	<a href="http://www.roleplaygateway.com/member/{owners.URL}/">
                                                                {owners.AVATAR}<br />
                                                                <strong>{owners.NAME}</strong><br />
                                                                <em>{owners.GROUP}</em>
                                                </a>
                		</td>
				<!-- END owners -->
				</tr>
				</tbody>
				</table>
				<table width="100%">
                                <tbody>
                                <tr>
                		<!-- BEGIN admins --> 
				<td align="center">
				       	<a href="http://www.roleplaygateway.com/member/{admins.URL}/">
                                                                {admins.AVATAR}<br />
                                                                <strong>{admins.NAME}</strong><br />
                                                                <em>{admins.GROUP}</em>
                                                </a>
                		</td>
		                <!-- END admins -->
				</tr>
				</tbody>
				</table>
				<table width="100%">
                                <tbody>
                                <tr>
				<!-- BEGIN leaders --> 
				<td align="center">
				       	<a href="http://www.roleplaygateway.com/member/{leaders.URL}/">
                                                                {leaders.AVATAR}<br />
                                                                <strong>{leaders.NAME}</strong><br />
                                                                <em>{leaders.GROUP} Leader</em>
                                                </a>
                		</td>
		                <!-- END leaders --> 
				</tr>
				</tbody>
				</table>
			</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
