<h3>Make a Donation</h3>
<div style="float: right; text-align: center;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<p>
			<input name="cmd" value="_xclick" type="hidden">
			<input name="business" value="eric.martindale@gmail.com" type="hidden">
			<input name="item_name" value="Make donation" type="hidden">
			<input name="no_note" value="1" type="hidden">
			<input name="currency_code" value="USD" type="hidden">
			<input name="no_shipping" value="2" type="hidden">
			<input name="bn" value="PP-DonationsBF" type="hidden">
			<input name="tax" value="0" type="hidden">
			$<select name="amount">
				<option value="10.00">10.00</option>
				<option value="100.00">100.00</option>
				<option value="50.00">50.00</option>
				<option value="25.00">25.00</option>
				<option value="20.00">20.00</option>
				<option value="5.00">5.00</option>
				<option value="4.00">4.00</option>
				<option value="3.00">3.00</option>
				<option value="2.00">2.00</option>
				<option value="1.00">1.00</option>
			</select>
			<br>
			<input src="http://www.roleplaygateway.com/bb3portal/images/paypal.gif" style="border: 0px none ; background-color: transparent; padding-top: 6px;" type="image">
		</p>
	</form>
</div>
<div>
	<p><strong>RolePlayGateway</strong> is a site built by a couple roleplayers who wanted to give a little something back to the roleplay community.  The site has no intention of earning any profit, and is paid for out of their own pockets.</p>
	<p>If you appreciate what they do, feel free to donate your spare change to help feed them on the weekends.  After selecting the amount you want to donate from the menu, you can continue by clicking on PayPal logo.</p>
</div>