<!-- INCLUDE overall_header.html -->
<h2>Thank you for your business!</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	

		<p style="font-size: 1.8em; margin: 2em;">Thank you for your purchase of the advertisement slot.  We'll be sending you an email shortly to work out the details, and get your promotion up and running as quickly as possible.</p>

		<center>
			<p>In the meantime, here's a cup of delicious coffee.</p>

			<img src="/images/coffee.jpg" style="width: 350px; margin: 2em;" class="crisp-border" title="Really though, we thought Hello Kitty would keep you company." />
		</center>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->