 <!-- INCLUDE overall_header.html -->
 <!-- INCLUDE stylesheet_roleplay.html -->
<style type="text/css">
  #changelogList li {
    margin-top: 1em;
    clear: both;
  }
  #changelogList li img {
    border: 1px solid black;
  }
</style>


<h1 style="color:black;">Recent Changes to RolePlayGateway</h1>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
    <div class="postbody"><div class="content" id="changelogList">

    <div>
      <a name="04-12-2013" class="anchor"></a>
      <h3><a href="#04-12-2013">04-12-2013</a></h3>
      <h4>Chat</h4>
      <p>
        <ul>
          <li>Characters tagged in posts should now <a href="http://i.imgur.com/n5mhVd5.png">display in chat</a>, making for easy recognition of what characters were present during a specific post.</li>
        </ul>
      </p>
    </div>

    <div>
      <a name="04-01-2013" class="anchor"></a>
      <h3><a href="#04-01-2013">04-01-2013</a></h3>
      <h4>General</h4>
      <p>
        <ul>
          <li><img src="/images/roleplaygateway-instant-messaging-icons.png" style="float:right; margin-top:-1em; border:0;" />The whisper system has been upgraded to a site-wide tool with managed conversations.<br /><br />The icons on the right show the various statuses that you might see.</li>
        </ul>
      </p>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>Game Masters of roleplays will now receive notifications of various events in their roleplay (new characters, new posts, etc.).</li>
          <li>Players of the characters tagged in new posts will now get notified of the post.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3><a name="03-29-2013" href="#03-29-2013">03-29-2013</a></h3>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>Automatic live previews for ALL the things!</li>
          <li>New character creation and edit pages.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3><a name="03-17-2013" href="#03-17-2013">03-17-2013</a></h3>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>While writing a post, you now get an automatic live preview.</li>
          <li>Place Edit/Creation now gets an automatic live preview.</li>
          <li>Hovering over the small place tiles now displays the location synopsis:<br /><br /><img src="http://i.imgur.com/finGtn8.png" /></li>
        </ul>
      </p>
    </div>

    <div>
      <h3><a name="01-30-2013" href="#01-30-2013">01-30-2013</a></h3>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li><a href="http://i.imgur.com/XIzJjYx.png"><img src="http://i.imgur.com/XIzJjYx.png" style="float:right; max-width: 150px; margin: 0 0 1em 1em;" /></a>Six new roleplay-only BBCodes have been added: <span style="font-family:monospace;">[character:{numericID}], [character:{Name}], [place:{numericID}], [place:{Name}], [group:{numericID}], and [group:{Name}]</span>.  Each are case-sensitive, have no closing tag, and allow for the insertion of a custom display of each entity type in any part of your roleplay.  Groups, for example, can now be <a href="//www.roleplaygateway.com/roleplay/the-multiverse/places/the-lahmian-estate/">embedded in place pages</a>.</li>
          <li>Groups can now be created directly on your roleplay's page, without using console (chat) commands.</li>
          <li>Groups can now have logos assigned to them!</li>
          <li>Characters can now be added to Groups without console (chat) commands.</li>
          <li>Places can now be created directly on your roleplay's page, without using console (chat) commands.</li>
          <li>In addition to the directional map, Place pages now visibly show their hierarchy (what they're a part of, what is located inside of a location).</li>
          <li><a href="http://i.imgur.com/wvdpKfP.png"><img src="http://i.imgur.com/wvdpKfP.png" style="float:right; max-width: 150px; margin: 0 0 1em 1em;" /></a>The full place list for roleplays is now visibly hierarchical, with a dotted line indicating every location's parent.  This makes it easier for your players to understand your roleplay's universe by allowing them to get directly at the content they're looking for.</li>
          <li>Game Masters added via the <span style="font-family:monospace;">/addGameMaster {UserName}</span> command will now be displayed on all of the roleplay's pages.</li>
          <li>Players granted sovereignty over locations in a roleplay via <span style="font-family:monospace;">/giveSov {UserName}</span> can now create more than 10 locations, based on a sliding scale of how much roleplay has taken place in their existing locations.</li>
          <li>The time and date of the most recent post in every location now appear on the "Places" tab of every roleplay.</li>
          <li>A new page has been created to view all locations in a roleplay, sorted by where the most recent activity has been.</li>
        </ul>
      </p>
      <h4>Chat</h4>
      <p>
        <ul>
          <li>The time limit for backscroll has been removed, and will now show the 25 most recent posts in every location.  Private messages will now fade away after 15 minutes of time, placing the focus on roleplay.</li>
          <li>The list of Places in the chat now displays a link to view <strong>all</strong> posts ever made at a location.</li>
        </ul>
      </p>
      <h4>RPG Directory</h4>
      <p>
        <ul>
          <li>The <a href="/directory">rankings for roleplaying sites</a> have been changed to a new algorithm.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3><a name="12-28-2012" href="#12-28-2012">12-28-2012</a></h3>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>All players in a roleplay can now tag characters.</li>
          <li>Tagging characters is now <em>much</em> easier with an inline searchbox.</li>
          <li>Posts in roleplays can now be added to "Bundles", accessible via the button to the right of all posts.</li>
          <li>The <a href="//www.roleplaygateway.com/roleplay/">listing of all roleplays</a> has changed order to focus more on newly created roleplays.</li>
        </ul>
      </p>
      <h4>Chat</h4>
      <p>
        <ul>
          <li><a href="http://stats.roleplaygateway.com/">Chat statistics</a> now update once per day.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3>12-18-2012</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>Roleplays and Place pages inside of them should now default to the latest page of content.</li>
          <li>Quests no longer erroneously appear on Place pages.</li>
          <li>Notifications are now enabled for posts in roleplays which you own a character.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3>5-5-2012</h3>
      <h4>General</h4>
      <p>
        <ul>    
          <li>You can now click on the headers at the top of the site to view full listings of each; <a href="//www.roleplaygateway.com/announcements-f2.html">Announcements</a>, <a href="//www.roleplaygateway.com/roleplay/?sort=rating">Top Rated Roleplays</a>, and <a href="//www.roleplaygateway.com/roleplay/?sort=newest">Newest Roleplays</a>.</li>
        </ul>
      </p>
      <h4>Roleplays</h4>
      <p>
        <ul>
          <li>You can now add characters from the character listing page in a roleplay.</li>
        </ul>
      </p>
    </div>

    <div>
      <h3>2-4-2012</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>You can now tag multiple characters in any post in a roleplay, even old posts.  When a character is tagged in a post, the post will show up on that character's page, regardless of who wrote the post itself.</li>
        </ul>
      </p>
      <h4>Chat</h4>
      <p>
        <ul>
          <li><code>/build &lt;direction&gt; &lt;Place Name&gt;</code> now connects two locations that you own with one another.  <strong>If you exclude the place name, it creates a new location in that direction. Be careful!</strong></li>
        </ul>
      </p>      
    </div>


    <div>
      <h3>1-7-2012</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>All completed roleplays are now automatically made available in <a href="//www.roleplaygateway.com/roleplays/completed">The Library</a>.</li>
        </ul>
      </p>
    </div>
    
    <div>
      <h3>12-26-2011</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>The top 25 contributors to a roleplay are now listed on the front page of a roleplay, ordered by percentage contribution.</li>
        </ul>
      </p>
    </div> 
    
    <div>
      <h3>12-20-2011</h3>
      <h4>General</h4>
      <p>
        <ul>    
          <li>All of a users' roleplays are now available by clicking "View All" on any profile.</li>    
          <li>All of a users' characters are now available by clicking "View All" on any profile.</li>
        </ul>
      </p>
    </div>    
    <div>
      <h3>12-15-2011</h3>
      <h4>Chat</h4>
      <p>
        <ul>    
          <li><code>/online</code> now lists all online characters in your current roleplay.</li>
        </ul>
      </p>
    </div>        
    <div>
      <h3>10-19-2011</h3>
      <h4>Chat</h4>
      <p>
        <ul>    
          <li><code>/where &lt;Character Name&gt;</code> now locates a character in your roleplay, whether the player is online or offline.</li>
        </ul>
      </p>
    </div>      
    <div>
      <h3>10-12-2011</h3>
      <h4>Chat</h4>
      <p>
        <ul>    
          <li>Pressing the up arrow on the keyboard once again loads your last post, but no longer deletes your existing post if you wrote something.</li>
          <li>Fixed the <code>/join</code> command.</li>
        </ul>
      </p>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>Individual Place pages have been cleaned up and now work much better.</li>
          <li>Performance of the roleplay tab has been increased by several orders of magnitude, once again giving access to the full posting history in large roleplays like The Multiverse.</li>
        </ul>
      </p>
    </div>      
    <div>
      <h3>10-11-2011</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>"Quests" can now be created using <code>/quest create &lt;synopsis&gt;</code>.  A pseudo-tutorial of how this works is available via <code>/quest</code>, and a master list of available quests is available via <code>/quest list</code>.</li>
          <li>All roleplays now have a master list of groups available in the "Groups" tab.</li>
          <li>All groups now have a dedicated page available by clicking on the Group name.</li>
        </ul>
      </p>
    </div>    
    <div>
      <h3>10-03-2011</h3>
      <h4>Roleplays</h4>
      <p>
        <ul>    
          <li>If you make a mistake creating a roleplay, we now save all of the fields <strong>so you don't have to fill them out twice</strong>.</li>
          <li>All roleplays now have a master list of places available at <code>/places</code>.</li>
          <li>All roleplays now have a master list of characters available at <code>/characters</code>.</li>
        </ul>
      </p>
      
      <h4>Characters</h4>
      <p>
        <ul>    
          <li>Character sheets now have a full history of all posts that character has been tagged in.</li>
        </ul>
      </p> 
    </div>
     
    <div>
      <h3>9-26-2011</h3>
      <h4>General</h4>
      <p>
        <ul>    
          <li>Rules page now super-easy to link to: roleplaygateway.com/rules</li>
          <li>Any and all characters can now be abandoned.</li>
          <li>Shutting down RPG News to focus on RolePlayGateway proper.</li>
          <li>Topics that exist inside a roleplay's forum now automatically send users to the new location.</li>
        </ul>
      </p>

      <h4>World Building</h4>
      <p>
        <ul>
          <li>GMs of <strong>all</strong> roleplays can now use the <code>/build</code> command in their roleplays.</li>
          <li>All roleplays that have used the <code>/build</code> command now an auto-generated map on their "Places" page.</li>
          <li>Sovereignty can now be granted to any player in a roleplay by using the <code>/giveSov</code> command while in a place.</li>
        </ul>
      </p>

      <h4>Roleplay Management</h4>
      <p>
        <ul>
          <li>An activity log can now be found on the "My Roleplays" page.</li>
          <li>Fixed tab-completion in chat for usernames with various types of quotations.</li>
          <li>Orphanages in roleplays now displays the number of <strong>I</strong>n <strong>C</strong>haracter (IC) posts a character has been tagged in labelled 'sightings'.</li>
          <li>Added a new subpage for roleplays to be able to view all characters in a roleplay.</li>
          <li>Add the ability for GMs to remove players from their roleplay.</li>
        </ul>
      </p>
    </div>

    </div></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->    
