<!-- INCLUDE overall_header.html -->
<h2>Character Profile Hosting</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>Get a web page dedicated to your character.</h3>
		<p>Think your character is just <em>that</em> friggin' awesome?  Get a profile page for your character and show them off using a link like: <code>http://www.roleplaygateway.com/characters/<strong>Your_Character_Name</strong></code></p>
		<div style="font-size:300%; text-align:center; font-family:impact; letter-spacing:-2px;">
			<p>
				<div>Now available. <a href="http://www.roleplaygateway.com/ucp.php?i=characters&mode=new">Create Your Character Now. >></a></div>
				<span style="font-size:66%; letter-spacing:0px;">Stop copy-pasting profiles. Get a super sweet custom URL. One profile, one link.</span>
			</p>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->