<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE roleplay_controls.html -->

<style type="text/css">
.special.button.group {
  text-align: center;
  display: inline-block;
}

.button.group .metric {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
}

.special.button.group .action {
  font-size: 1.2em;
  border-top 1px solid gray;
}
</style>

<div id="controls" class="quick-float-right">
  <!-- IF S_CAN_EDIT -->
  <a href="/ucp.php?i=characters&amp;mode=edit&amp;character_id={CHARACTER_ID}" class="button">Edit</a>
  <!-- ENDIF -->
  <!-- IF S_IS_BETA -->
    <div class="special button group">
      <div class="metric">
        <div data-link="/characters/{CHARACTER_ID}" data-bind="/stats/followers">{FOLLOWER_COUNT}</div>
        <small>followers</small>
      </div>
      <!-- IF S_IS_FOLLOWING -->
        <span class="action" on-tap="_unfollowCharacter" data-id="{CHARACTER_ID}" data-link="/characters/{CHARACTER_ID}/followers/{USER_ID}"><abbr title="You are receiving notifications when this character is tagged.  Press to stop.">unfollow</abbr></span>
      <!-- ELSE -->
        <span class="action" on-tap="_followCharacter" data-id="{CHARACTER_ID}" data-link="/characters/{CHARACTER_ID}/followers"><abbr title="You'll receive a notification when this character is tagged in a post.">follow</abbr></span>
      <!-- ENDIF -->
    </div>
  <!-- ENDIF -->
</div>

<img src="/roleplay/{ROLEPLAY_URL}/characters/{CHARACTER_URL}/image" style="float:left; height:100px; width:100px; margin-right:10px;" class="crisp-border" />

<h2>{CHARACTER_NAME}</h2>
<p class="content" style="padding:5px; min-height:0; margin-bottom: 5px;">{CHARACTER_SYNOPSIS}</p>

<h3 style="margin-top:5px;">
  <div style="float: right;">{CHARACTER_VIEW_COUNT} views &middot; last seen in <a href="/roleplay/{ROLEPLAY_URL}/places/{PLACE_URL}/"><img src="/roleplay/{ROLEPLAY_URL}/places/{PLACE_URL}/image" class="crisp-border" style="max-height: 1.2em; margin-right: 0.5em;" />{PLACE_NAME}</a></div>
  a character in &ldquo;<a href="/roleplay/{ROLEPLAY_URL}/">{ROLEPLAY_NAME}</a>&rdquo;<!-- IF S_CHARACTER_ANONYMOUS --><!-- ELSE -->, <!-- IF S_IS_NEW_OWNER -->originally authored by {CREATOR_USERNAME}, <!-- ENDIF -->as played by {OWNER_USERNAME}<!-- ENDIF -->
</h3>

<div>
  <g:plusone annotation="inline" href="/roleplay/{ROLEPLAY_URL}/characters/{CHARACTER_URL}"></g:plusone>
</div>

<div class="panel">
  <div class="inner"><span class="corners-top"><span></span></span>
    <div class="postbody" style="width:100%;">
      <div class="">
      	<!-- IF HAS_GROUPS -->
        <h3><a href="/roleplay/{ROLEPLAY_URL}/groups">Groups</a></h3>
        <div>
          <!-- BEGIN groups -->
          <div class="group" style="width: 300px; display: inline-block; vertical-align: top;">
            <img src="/roleplay/{ROLEPLAY_URL}/groups/{groups.SLUG}/logo" style="float:left; height: 30px; width: 30px; margin-right:1em;" class="crisp-border" />
            <div>
              <a href="/roleplay/{ROLEPLAY_URL}/groups/{groups.SLUG}"><strong>{groups.NAME}</strong></a>
            </div>
            <span>{groups.SYNOPSIS}</span>
          </div>
          <!-- END groups -->
        </div>
        <div style="clear:both;"></div>
        <!-- ENDIF -->

        <!-- IF CHARACTER_DESCRIPTION -->
        <h3>Description</h3>
        <div style="text-align:justify;" class="content">{CHARACTER_DESCRIPTION}</div>
        <!-- ENDIF -->
        <!-- IF CHARACTER_PERSONALITY -->
        <h3>Personality</h3>
        <p style="text-align:justify;">{CHARACTER_PERSONALITY}</p>
        <!-- ENDIF -->
        <!-- IF CHARACTER_EQUIPMENT -->
        <h3>Equipment</h3>
        <p style="text-align:justify;">{CHARACTER_EQUIPMENT}</p>
        <!-- ENDIF -->
        <!-- IF CHARACTER_HISTORY -->
        <h3>History</h3>
        <p style="text-align:justify;">{CHARACTER_HISTORY}</p>
        <!-- ENDIF -->
        <!-- IF S_IS_BETA -->
        <button onclick="myFunction(stats)">Display Stats</button>
        <div id="stats">
        <h3>Statistics</h3>
        <b><u>Body</u></b><br>
        <b>Power</b><br>
        F: <input type="radio" name="POW" value="-8"> | D: <input type="radio" name="POW" value="-4"> | C: <input type="radio" name="POW" value="0"> | B: <input type="radio" name="POW" value="4"> | A: <input type="radio" name="POW" value="8"> | S: <input type="radio" name="POW" value="12">
        <br>
        <b>Agility</b><br>
        F: <input type="radio" name="AGI" value="-8"> | D: <input type="radio" name="AGI" value="-4"> | C: <input type="radio" name="AGI" value="0"> | B: <input type="radio" name="AGI" value="4"> | A: <input type="radio" name="AGI" value="8"> | S: <input type="radio" name="AGI" value="12">
        <br>
        <b>Endurance</b><br>
        F: <input type="radio" name="END" value="-8"> | D: <input type="radio" name="END" value="-4"> | C: <input type="radio" name="END" value="0"> | B: <input type="radio" name="END" value="4"> | A: <input type="radio" name="END" value="8"> | S: <input type="radio" name="END" value="12">
        <br><br><b><u>Mind</u></b><br>
        <b>Logic</b><br>
        F: <input type="radio" name="LOG" value="-8"> | D: <input type="radio" name="LOG" value="-4"> | C: <input type="radio" name="LOG" value="0"> | B: <input type="radio" name="LOG" value="4"> | A: <input type="radio" name="LOG" value="8"> | S: <input type="radio" name="LOG" value="12">
        <br>
        <b>Intuition</b><br>
        F: <input type="radio" name="INT" value="-8"> | D: <input type="radio" name="INT" value="-4"> | C: <input type="radio" name="INT" value="0"> | B: <input type="radio" name="INT" value="4"> | A: <input type="radio" name="INT" value="8"> | S: <input type="radio" name="INT" value="12">
        <br>
        <b>Charm</b><br>
        F: <input type="radio" name="CHA" value="-8"> | D: <input type="radio" name="CHA" value="-4"> | C: <input type="radio" name="CHA" value="0"> | B: <input type="radio" name="CHA" value="4"> | A: <input type="radio" name="CHA" value="8"> | S: <input type="radio" name="CHA" value="12">
        <br><br><b><u>Magic</u></b><br>
        <b>Invocation</b><br>
        F: <input type="radio" name="INV" value="-8"> | D: <input type="radio" name="INV" value="-4"> | C: <input type="radio" name="INV" value="0"> | B: <input type="radio" name="INV" value="4"> | A: <input type="radio" name="INV" value="8"> | S: <input type="radio" name="INV" value="12">
        <br>
        <b>Shielding</b><br>
        F: <input type="radio" name="SHI" value="-8"> | D: <input type="radio" name="SHI" value="-4"> | C: <input type="radio" name="SHI" value="0"> | B: <input type="radio" name="SHI" value="4"> | A: <input type="radio" name="SHI" value="8"> | S: <input type="radio" name="SHI" value="12">
        <br>
        <b>Influence</b><br>
        F: <input type="radio" name="INF" value="-8"> | D: <input type="radio" name="INF" value="-4"> | C: <input type="radio" name="INF" value="0"> | B: <input type="radio" name="INF" value="4"> | A: <input type="radio" name="INF" value="8"> | S: <input type="radio" name="INF" value="12">
          <br>
          <br>
          <h3>Defenses</h3>
            <i>HP:</i> <input type="number" value="30" min="0" max="50"><br>
            <i>Fortitude Defense:</i> <input type="number" value="10" min="0" max="22"><br>
            <i>Reflex Defense:</i> <input type="number" value="10" min="0" max="22"><br>
            <i>Will Defense:</i> <input type="number" value="10" min="0" max="22"><br>
          <br>
          <br>
          <h3>Skills</h3>
          <b>Skills Equipped:</b> <input type="number" name="Skill Amount" value="0" min="0" max="5">
          <br>
          <br>
          <b>Skill Name:</b> <input type="text" name="Skill Name 1" value="N/A">
          <b>Description:</b> <input type="text" name="Skill Desc. 1" value="N/A">
          <br>
          <br>
          <b>Skill Name:</b> <input type="text" name="Skill Name 2" value="N/A">
          <b>Description:</b> <input type="text" name="Skill Desc. 2" value="N/A">
          <br>
          <br>
          <b>Skill Name:</b> <input type="text" name="Skill Name 3" value="N/A">
          <b>Description:</b> <input type="text" name="Skill Desc. 3" value="N/A">
          <br>
          <br>
          <b>Skill Name:</b> <input type="text" name="Skill Name 4" value="N/A">
          <b>Description:</b> <input type="text" name="Skill Desc. 4" value="N/A">
          <br>
          <br>
          <b>Skill Name:</b> <input type="text" name="Skill Name 5" value="N/A">
          <b>Description:</b> <input type="text" name="Skill Desc. 5" value="N/A">
          <br>
          <br>
          <h3>Items</h3>
          <b>Weapon Name:</b> <input type="text" name="weapon" value="Weapon name here"><br>
            <i>Accuracy:</i>
              <select name="wep-accuracy">
                <option title="F RANK" value="-5">F (-5 to Hit)</option>
                <option title="D RANK" value="-2">D (-2 to Hit)</option>
                <option selected ="selected" title="C RANK" value="+0">C (+0 to Hit)</option>
                <option title="B RANK" value="+2">B (+2 to Hit)</option>
                <option title="A RANK" value="+5">A (+5 to Hit)</option>
                <option title="S RANK" value="+8">S (+8 to Hit)</option>
              </select>
              <br>
            <i>Damage:</i><br>
              <select name="wep-damage">
                <option title="F RANK" value="0">F (0 Damage)</option>
                <option title="D RANK" value="1">D (1 Damage)</option>
                <option selected ="selected" title="C RANK" value="3">C (3 Damage)</option>
                <option title="B RANK" value="5">B (5 Damage)</option>
                <option title="A RANK" value="6">A (6 Damage)</option>
                <option title="S RANK"value="8">S (8 Damage)</option>
              </select>
              <br>
            <i>Block:</i>
              <select name="wep-block">
                <option title="F RANK" value="0">F (0 AP)</option>
                <option title="D RANK" value="1">D (1 AP)</option>
                <option selected ="selected" title="C RANK" value="2">C (2 AP)</option>
                <option title="B RANK" value="3">B (3 AP)</option>
                <option title="A RANK" value="4">A (4 AP)</option>
                <option title="S RANK" value="5">S (5 AP)</option>
              </select>
            <br><br>
           <b>Armor:</b> <input type="text" name="armor" value="Armor name here">
             <br><i>Kinetic Reflection:</i> <input type="number" min="0" value="0" name="KR">
             <br><i>Energy Reflection:</i> <input type="number" min="0" value="0" name="ER">
             <br><i>Agility to Reflex Defense</i> <input type="number" min="0" value="0" name="AGItoRefDef">
             <br>
             <br>
             <h3>Spells</h3>
             <b>Spells Learned:</b> <input type="number" name="Spell Amount" value="0" min="0" max="20">
             <br>
             <br>
             <b>Spell Name:</b> <input type="text" name="Spell Name 1" value="N/A">
             <b>Description:</b> <input type="text" name="Spell Desc. 1" value="N/A">
             <br>
             <br>
             <b>Spell Name:</b> <input type="text" name="Spell Name 2" value="N/A">
             <b>Description:</b> <input type="text" name="Spell Desc. 2" value="N/A">
             <br>
             <br>
             <b>Spell Name:</b> <input type="text" name="Spell Name 3" value="N/A">
             <b>Description:</b> <input type="text" name="Spell Desc. 3" value="N/A">
             <br>
             <br>
             <b>Spell Name:</b> <input type="text" name="Spell Name 4" value="N/A">
             <b>Description:</b> <input type="text" name="Spell Desc. 4" value="N/A">
             <br>
             <br>
             <b>Spell Name:</b> <input type="text" name="Spell Name 5" value="N/A">
             <b>Description:</b> <input type="text" name="Spell Desc. 5" value="N/A">
             <br>
             <br>
          </div>
        <!-- ENDIF -->

        <div id="activity">
          <h3 style="padding-top:2em;">So begins...</h3>
          <h1><a href="/roleplay/{ROLEPLAY_URL}/characters/{CHARACTER_URL}#story" name="story">{CHARACTER_NAME}'s Story</a></h1>
          <div>
            <ul class="linklist">
              <li class="rightside pagination">Seen <strong>{TOTAL_SIGHTINGS}</strong> Times &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
            </ul>

            <div id="roleplayStream">
            <!-- INCLUDE roleplay_stream_body.html -->
            </div>

            <ul class="linklist">
                      <li class="rightside pagination">Seen <strong>{TOTAL_SIGHTINGS}</strong> Times &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->
