<div>
  <h3>Become a Patron!</h3>
  <p>We're now offering subscriptions through <a href="https://patreon.com">Patreon</a>, where you can set up a monthly donation as small as $1.  We give special benefits to our Patreon subscribers, with more to be announced soon!</p>
  <a href="https://www.patreon.com/bePatron?u=6381602" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</div>

<table width="100%">
  <tr>
    <td width="50%" valign="top" style="padding: 0.2em;">
      <h2>Donate with Dollars <small>(credit card or PayPal)</small></h2>
      <p>Use PayPal to send us dollars, even using a credit card.  <strong>If you want Contributor status, use the same email as your RPG account.<br /><br /></p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="RolePlayGateway Donation">
        <input type="hidden" name="item_number" value="$1 donation">
        <input type="hidden" name="amount" value="1.00">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate $1 &nbsp;&nbsp;&raquo;">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="RolePlayGateway Donation">
        <input type="hidden" name="item_number" value="$5 donation">
        <input type="hidden" name="amount" value="5.00">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate $5 &nbsp;&nbsp;&raquo;">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="RolePlayGateway Donation">
        <input type="hidden" name="item_number" value="$10 donation">
        <input type="hidden" name="amount" value="10.00">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate $10 &nbsp;&raquo;">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="RolePlayGateway Donation">
        <input type="hidden" name="item_number" value="$25 donation">
        <input type="hidden" name="amount" value="25.00">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate $25  &raquo;">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="RolePlayGateway Donation">
        <input type="hidden" name="item_number" value="$100 donation">
        <input type="hidden" name="amount" value="100.00">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate $100 &raquo;">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="admin@roleplaygateway.com">

        <!-- Specify a Donate button. -->
        <input type="hidden" name="cmd" value="_donations">

        <!-- Specify details about the contribution -->
        <input type="hidden" name="item_name" value="User-selected donation">
        <input type="hidden" name="item_number" value="user-selected-donation">
        <input type="hidden" name="currency_code" value="USD">

        <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php">

        <!-- Display the payment button. -->
        <input type="submit" class="donation-button" name="submit" value="Donate Another Amount &raquo;">
        <img alt="" border="0" width="1" height="1"
        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

      </form>

    </td>
    <td width="50%" valign="top">
      <h2>Donate with Bitcoin <small>(currency of the Internet)</small></h2>
      <p>Clicking the code below will launch your Bitcoin wallet (if you have one), or you can simply scan it with your mobile wallet.  <a href="https://bitcoin.org">Learn more about Bitcoin at bitcoin.org &raquo;</a></p>
      <center>
        <a href="bitcoin:3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66">
          <img src="/images/3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66.png" /><br />
          3QA6eg4xLbFoUcChFtboQbzCPwyCCuxg66
        </a>
      </center>
    </td>
  </tr>
</table>


<h2>Any time you see this, you can click it to donate:</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_xclick"><!-- Do Not Modify Or Will Not Work Propperly-->
  <input type="hidden" name="business" value="admin@roleplaygateway.com"><!-- Your payPal Email Address-->
  <input type="hidden" name="item_name" value="RolePlayGateway"><!-- Your donation name-->
  <input type="hidden" name="item_number" value="D1"><!-- Donation item number-->
  <input type="hidden" name="no_shipping" value="1"><!-- st to 1 to not collect shipping address, set to 0 to collect it-->
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="cn" value="Comments"><!-- Do Not Modify Or Will Not Work Propperly-->
  <!--<input name="amount" type="hidden" value="">-->
  <input type="hidden" name="currency_code" value="USD"><!-- modify to your paypal currency-->
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="notify_url" value="http://www.roleplaygateway.com/donationmeter/ipn.php"> <!-- Location to the ipn.php file included with this script, change to your site or script will not function-->
  <input type="hidden" name="return" value="https://www.roleplaygateway.com"><!-- Location to your thank you page change this to where the user is redirected after successful donation-->
  <input type="hidden" name="cancel_return" value="https://www.roleplaygateway.com"><!-- Location to your cancelled page change this to where the user is redirected after cancelled donation-->
  <input type="hidden" name="tax" value="0"><!-- Do Not Modify Or Will Not Work Propperly-->
  <input type="hidden" name="pal" value="5NK4VSJNG9D22"><!-- Do Not Modify Or Will Not Work Propperly-->
  <input type="hidden" name="mbr" value="5NK4VSJNG9D22"><!-- Do Not Modify Or Will Not Work Propperly-->
  <input type="hidden" name="bn" value="PP-BuyNowBF"><!-- Do Not Modify Or Will Not Work Propperly-->
  <input type="hidden" name="on0" value="Donation Reason">
  <input type="hidden" name="os0" value="1">
  <input type="hidden" name="on1" value="Display Name">
  <input type="hidden" name="os1" value="Generous Donor">
  <input type="image" src="http://www.roleplaygateway.com/donationmeter/images/display.php" border="0" style="padding-bottom:5px; border:none;" name="submit" alt="Make donations with PayPal - it's fast, free and secure!"><!-- modify the yourbutton.gif to the location of your submit button-->
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
