<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h1>RPG Events</h1>
<p>What's going on in the worlds?</a>
  
<div class="panel">
  <!-- BEGIN events -->
  <h2>{events.TITLE}</h2>
  <h3><abbr class="date" title="{events.START_TIME_ISO}">{events.START_TIME}</abbr> — <abbr class="date" title="{events.END_TIME_ISO}">{events.END_TIME}</abbr>
  <p>{events.DESCRIPTION}</p>
  <!-- END events -->
</div>

<!-- INCLUDE overall_footer.html -->
