
	<!-- IF S_IS_ERIC_AND_HE_IS_WORKING_HARD -->
			<div id="shoutbox-thing">
			<h1>thar be shoutin</h1>
        {SHOUTBOX}
			</div>
	<!-- ENDIF -->


	</div>

	<div id="page-footer" style="margin-bottom:15px;">
		
		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
					<!-- IF not S_IS_BOT -->
						<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
						<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
						<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
						<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
					<!-- ENDIF -->
				<li class="rightside"><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
			
		<!-- IF AD_CODE6 -->
			<h3>Our Sponsors</h3>
			<div align="center">{AD_CODE6}</div><br />
		<!-- ENDIF -->

			<center>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-4532443596754933";
				/* Footer */
				google_ad_slot = "6364440428";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</center>
		
		<div id="feet">
			<!-- <table>
				<tr>
					<td class="row1" valign="top" width="33%">
						<h3>Popular Threads</h3>
						<p>
						<!-- BEGIN latest_hot_topics -->
							<a href="{latest_hot_topics.U_VIEW_TOPIC}" title="{latest_hot_topics.FULL_TITLE}">{latest_hot_topics.TITLE}</a><br />
						<!-- END latest_hot_topics -->
						</p>
					</td>
					<td valign="top" width="33%">
						<h3>Most Popular Topics</h3>
						<p>
						<!-- BEGIN most_popular_topics -->
							{most_popular_topics.POST_LINK}<br />
						<!-- END most_popular_topics -->
						</p>
					</td>
					<td valign="top" width="33%">
						<h3>Role Play Academy</h3>
						<p><script src="http://feedproxy.google.com/TheRolePlayAcademy?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feedproxy.google.com/TheRolePlayAcademy"></a></p> </noscript></p>
					</td>
				</tr>
			</table> -->
		</div>
		
		<!-- <div class="sponsor"> 
			<div> 
				Powered by the <a href="http://www.rackspace.com ">Dedicated Servers</a> and<br/>
				<a href="http://www.rackspace.com">Cloud Computing</a> of Rackspace Hosting<span>&reg;</span>
			</div>
			<a href="http://www.rackspace.com"> 
				<img alt="Dedicated Server" src="http://www.roleplaygateway.com/images/rackspace_logo.png" /> 
			</a> 
		</div> -->

		<div class="copyright">
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
			<br />RolePlayGateway is proudly powered by obscene amounts of caffeine, duct tape, and support from people like you.  It operates under a "don't like it, suggest an improvement" platform, and we gladly take suggestions for improvements or changes.
			<br /><br />The custom-built "roleplay" system was designed and implemented by <a href="http://www.ericmartindale.com">Eric Martindale</a> as of July 2009.  All attempts to replicate or otherwise emulate this system and its method of organizing roleplay are strictly prohibited without his express written and contractual permission; violators will be prosecuted to the fullest extent of the law.
			<br /><br />
			<p>&copy; RolePlayGateway, LLC | with the support of <a href="https://localsense.com/">LocalSense</a></p>
		</div>

	</div>
</div>

		<script>
			var previewTimeout;
      $('.previewable').keyup(function(e) {
        var self = this;
        clearTimeout(previewTimeout);
        previewTimeout = setTimeout(function() {
          $.get('/preview.php', { text: $(self).val() }, function(data) {
            $('#innerPreview').html(data);
            $('#previewControls').fadeIn();
          });
        }, 200);
      });

			/* var client = new Faye.Client('http://s.roleplaygateway.com:99/', {
						timeout: 120
					,	retry: 5
				}
			);

			setTimeout(function() {
				[{ROLEPLAY_IDS}].forEach(function(roleplayID) {
					client.subscribe('/roleplay/'+roleplayID+'', function(message) {
						console.log(message);
						var message = JSON.parse(message);

						switch (message.type) {
							case 'content':
								var composed = {
										title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.name+'</a>:'
										//title: '&nbsp;'
									, content: '<a href="/member/'+message.data.author.name+'/">' + message.data.author.name + '</a> added <a href="'+ message.data.link +'">'+message.data.stats.words+' words</a> to &ldquo;<a href="'+message.data.place.link+'">'+message.data.place.name+'</a>&rdquo;, a part of the &ldquo;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.name+'</a>&rdquo; universe.'
								};
							break;
							case 'character':
								var composed = {
										title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.title+'</a>:'
										//title: '&nbsp;'
									, content: '<a href="/member/'+message.data.creator.name+'/">' + message.data.creator.name + '</a> added <a href="'+ message.data.link +'">a new character</a> to the &ldquo;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.title+'</a>&rdquo; universe.'
								};
							break;
							case 'tag-character':
								var composed = {
										title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.title+'</a>:'
										//title: '&nbsp;'
									, content: '<a href="/member/'+message.data.user.username+'/">' + message.data.user.username + '</a> tagged <a href="'+message.data.character.link+'"></a> in <a href="'+ message.data.content.link +'">a post</a> in the &ldquo;<a href="' + message.data.roleplay.link + '">'+message.data.roleplay.title+'</a>&rdquo; universe.'
								};
							break;
						}


						$.gritter.add({
							title: composed.title,
							text: composed.content,
							sticky: true,
							time: 10000
						});

					});
				});
			}, 5000); */

		</script>
	
		<!-- IF S_IS_ERIC_TESTING_STUFF -->
		<div id="activitybar">
			
			<div class="rpg-chat" style="float: right;">

				<div id="online-users">
					<div id="online-users-handle">Online Roleplayers</div>
					<div id="online-users-list"></div>
				</div>
	
				<div id="chat-messages"></div>

				<script type="text/css">
					setTimeout('updateChat', 5000);

					function updateChat() {
						
					}
				</script>
			</div>
		

			<a href="#" onclick="$('#activitybar').css('height', 350);">Handle</a>
			Hello, Eric.
			{ACTIVITY_COUNT} actions.
			
		</div>
		<!-- ENDIF -->

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	<!-- IF S_IS_ERIC -->
	<!-- ENDIF -->
</div>

<!-- <script src="http://tweetboard.com/tb.js?v=1.0&user=RolePlayGateway" type="text/javascript"></script>
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/RolePlayGateway.json?callback=twitterCallback2&amp;count=1"></script> -->

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4s8uFkynBiB2y1GhttDBbQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>


<!--[if IE 6]>
<script type="text/javascript"> 
	/*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } 
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
</body>
</html>
