<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<style type="text/css">
dl.roleplay .tags {
	font-style:italic;
}

dl.roleplay {
	min-height: 110px;
}

dl.roleplay dt {
	padding-left: 120px;
}

dl.roleplay .author {

}
.pagination {
	font-size: 1.2em;
}
.featured {
	background-color:#ffffe0;
}

dd.mark {
	line-height: 100%;
}
dd.mark small {
	margin-top: 0.5em;
}
.subtext {
	margin-top: 3px;
}
.heading {
	margin-top: 0;
	text-transform: none;
	font-size: 1.2em !important;
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	color: #516672;
}
ul.topiclist li.row dl {
	padding: 5px;
}
</style>
<div class="clear"></div>

<h1 style="font-size: 2.5em; font-weight: bold; color: #333;">RPG Universes</h1>
<a href="/universes/new" style="float:right;" class="supersize button">Create a Universe &raquo;</a>
<p class="content">Click the title of a universes to view it. Click a tag to search for more universes associated with that tag.</p>

<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		
		<!-- IF S_REGISTERED_USER -->
		
		<h2><a href="javascript:toggleDiv('roleplayfilters')">Not showing <strong>{IGNORED_COUNT}</strong> roleplays. &nbsp; Manage your filters or select a sort method&raquo;</a></h2>
		<div id="roleplayfilters" style="display:none;" class="content">
			<div>
				<h3>Ignore roleplays tagged with...</h3>
				<span style="padding-top: 5px;" id="ignored-tags-list">{IGNORED_TAGS}</span>
				<input type="text" id="ignore-tag" />
				<input type="button" value="Ignore" onclick="ignoreTag(document.getElementById('ignore-tag').value); return false;" />
				<span><strong>Commonly Ignored <em>(click to insert)</em>: </strong> <span class="tag"><a href="#" onclick="ignoreTag('highschool');">highschool</a></span>, <span class="tag"><a href="#" onclick="ignoreTag('emo');">emo</a></span></span>
			</div>
			<div>
				<h3><span class="favorite">Highlight</span> roleplays tagged with...</h3>
				<span style="padding-top: 5px;" id="favorite-tags-list">{FAVORITE_TAGS}</span>
				<input type="text" id="favorite-tag" />
				<input type="button" value="Favorite" onclick="favoriteTag(document.getElementById('favorite-tag').value); return false;" />
				<span><strong>Common Favorites<em>(click to insert)</em>: </strong> <span class="tag"><a href="#" onclick="favoriteTag('original');">original</a></span>, <span class="tag"><a href="#" onclick="favoriteTag('advanced');">advanced</a></span></span>
			</div>
			<div>
				<h3>Sort roleplays by</h3>
				<dd><a href="/roleplay/?sort=activity">Activity</a></dd>
				<dd><a href="/roleplay/?sort=author">Author</a></dd>
				<dd><a href="/roleplay/?sort=newest">Newest</a></dd>
				<dd><a href="/roleplay/?sort=posts">Posts</a></dd>
				<dd><a href="/roleplay/?sort=words">Words</a></dd>
				<dd><a href="/roleplay/?sort=average-words">Words per post</a></dd>
			
			</div>
			
			
				<script type="text/javascript">
					function ignoreTag(tag) {
						$.ajax({
							type: "GET",
							url: "/tag/",
							data: "mode=filter&action=ignore&tag=" + tag,
							success: function(msg){

								$('ignored-tags-list').append(', <a href="/tag/'+ $('ignore-tag').value +'">'+ $('ignore-tag').value +'</a>');
								$('ignore-tag').value = '';
								alert( "Tag successfully ignored.");
								window.location.reload();

							}
						});
					}
					function favoriteTag(tag) {
						$.ajax({
							type: "GET",
							url: "/tag/",
							data: "mode=filter&action=favorite&tag=" + tag,
							success: function(msg){

								$('favorited-tags-list').append(', <a href="/tag/'+ $('favorited-tag').value +'">'+ $('favorited-tag').value +'</a>');
								$('favorited-tag').value = '';
								alert( "Tag successfully favorited.");
								window.location.reload();

							}
						});
					}
					
					function deleteFilter(tag) {
						$.ajax({
							type: "GET",
							url: "/tag/",
							data: "mode=filter&action=delete&tag=" + tag,
							success: function(msg){
								alert( "Tag filter successfully removed.");
								window.location.reload();
							}
						});
					}
				</script>

		</div>
		
	<!-- ELSE -->
		<h2>Did you know?</h2>
		<div class="content">
			<div style="float: right;">
				<h3>Example Roleplay Filters:</h3>
				<img src="/images/roleplay_filters.png" alt="Example Roleplay Filters" title="Example Roleplay Filters" />
			</div>
			<p>If you were a registered user, you could filter out (and highlight!) roleplays using tags?  You could use this feature to browse <a href="/tag/advanced">#advanced</a> or <a href="/tag/original">#original</a> roleplays, for example.</p>
			<p><a href="/ucp.php?mode=register">Register now</a> to use this awesome weapon to completely customize your roleplay experience!</p>
		</div>
	<!-- ENDIF -->
		
	<span class="corners-bottom"><span></span></span>
	</div>
</div>


<ul class="linklist" style="clear:both;">
    <li class="rightside pagination" style="font-size: 1.4em;">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>
<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Featured Universes</dt>
					<dd class="mark"><a href="/roleplay/?sort=words">Words</a></dd>
					<dd class="mark"><a href="/roleplay/?sort=average-words">Words per post</a></dd>
					<dd class="mark"><a href="/roleplay/?sort=posts">Posts</a></dd>
					<dd class="mark">Characters</dd>
				</dl>
			</li>
		</ul>
		
		<ul class="topiclist topics">

		
		<!-- BEGIN featured_roleplays -->
			<li class="row bg1 featured">
        <dl class="icon roleplay">
          <a href="/roleplay/{featured_roleplays.URL}"><img src="/roleplay/{featured_roleplays.URL}/image" class="crisp-border" style="float: left; margin: 0.5em;" /></a>
					<dt style="padding-left: 5px;">
						<!-- IF featured_roleplays.S_CAN_EDIT -->
						<div id="controls" style="float:right;">
							<a href="/ucp.php?i=roleplays&amp;mode=edit&amp;id={featured_roleplays.ID}">Edit</a>
						</div>
						<!-- ENDIF -->
						<h3 class="heading"><a href="/roleplay/{featured_roleplays.URL}" class="topictitle">{featured_roleplays.TITLE}</a> <span class="author">by {featured_roleplays.OWNER_USERNAME}</span></h3>
						<a href="/roleplay/{featured_roleplays.URL}/#join" class="button" style="float:right;">Join this Roleplay &raquo;</a>
						<span class="tags">{featured_roleplays.TAGS}</span>
						<p style="margin-top: 0.5em; margin-bottom: 0;">{featured_roleplays.DESCRIPTION}</p>
					</dt>
					<dd class="mark">
						<div>{featured_roleplays.WORDS}</div>
						<!-- IF featured_roleplays.ID == 1 -->
						<small>That's <strong>935.68</strong> average-length novels!</small>
						<!-- ENDIF -->
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.WORDS_PER_POST}</div>
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.POSTS}</div>
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.CHARACTERS}</div>
					</dd>
				</dl>
			</li>
	
		<!-- END featured_roleplays -->
		
		</ul>
		
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Universe</dt>
					<dd class="mark"><a href="/roleplay/?sort=words">Words</a></dd>
					<dd class="mark"><a href="/roleplay/?sort=average-words">Words per post</a></dd>
					<dd class="mark"><a href="/roleplay/?sort=posts">Posts</a></dd>
					<dd class="mark">Characters</dd>
				</dl>
			</li>
		</ul>
		
		<ul class="topiclist topics">
		
		<!-- BEGIN roleplays -->

			<li class="row bg1 {roleplays.CLASS}" style="clear: both;">
        <dl class="icon roleplay">
					<a href="/roleplay/{roleplays.URL}"><img src="/roleplay/{roleplays.URL}/image" class="crisp-border" style="float: left; margin: 0.5em;" /></a>
					<dt style="padding-bottom:5px; padding-left: 5px; margin-top: 5px;">
						<!-- IF roleplays.S_CAN_EDIT -->
						<div id="controls" style="float:right;">
							<a href="/ucp.php?i=roleplays&amp;mode=edit&amp;id={roleplays.ID}">Edit</a>
							<a href="/ucp.php?i=roleplays&amp;mode=remove_tag&amp;id={roleplays.ID}">Moderate</a>
							<a href="/ucp.php?i=roleplays&amp;mode=flag&amp;id={roleplays.ID}">Mark...</a>
						</div>
						<!-- ENDIF -->
						<h3 class="heading"><a href="/roleplay/{roleplays.URL}">{roleplays.TITLE}</a>, <small>by <span class="author">{roleplays.OWNER_USERNAME}</span></small> {roleplays.STATUS}</h3>
						<a href="/roleplay/{roleplays.URL}/characters/new" class="button" style="float:right;">Submit a Character &raquo;</a>
						<span class="tags">{roleplays.TAGS}</span>
						<p style="margin-top: 0.5em; margin-bottom: 0;">{roleplays.DESCRIPTION}</p>
					</dt>
					<dd class="mark">
						<div>{roleplays.WORDS}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.WORDS_PER_POST}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.POSTS}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.CHARACTERS}</div>
					</dd>
				</dl>
			</li>
	
		<!-- END roleplays -->
		
		</ul>
		
		
		<!-- IF S_IS_ERIC -->
		
		<textarea onclick="select();">{ROLEPLAY_OWNERS}</textarea>
		
		<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<ul class="linklist" style="clear:both;">
    <li class="rightside pagination" style="font-size: 1.4em;">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>
<!-- INCLUDE overall_footer.html -->
