<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<style type="text/css">
dl.roleplay .tags {
	font-style:italic;
}

dl.roleplay {
	min-height: 110px;
}

dl.roleplay dt {
	padding-left: 120px;
}

dl.roleplay .author {

}
.pagination {
	font-size: 1.2em;
}
.featured {
	background-color:#ffffe0;
}

dd.mark {
	line-height: 100%;
}
dd.mark small {
	margin-top: 0.5em;
}
</style>
<div class="clear"></div>

<h1 style="font-size: 2.5em; font-weight: bold; color: #333;">Roleplays Listed on RolePlayGateway</h1>
<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=new" style="float:right;" class="supersize button">New Roleplay &raquo;</a>
<p class="content">Click the title of a roleplay to view it. Click a tag to search for more roleplays associated with that tag.</p>

<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		
		<!-- IF S_REGISTERED_USER -->
		
		<h2><a href="javascript:toggleDiv('roleplayfilters')">Not showing <strong>{IGNORED_COUNT}</strong> roleplays. &nbsp; Manage your filters or select a sort method&raquo;</a></h2>
		<div id="roleplayfilters" style="display:none;" class="content">
			<div>
				<h3>Ignore roleplays tagged with...</h3>
				<span style="padding-top: 5px;" id="ignored-tags-list">{IGNORED_TAGS}</span> 
				<input type="text" id="ignore-tag" />
				<input type="button" value="Ignore" onclick="ignoreTag(document.getElementById('ignore-tag').value); return false;" />
				<span><strong>Commonly Ignored <em>(click to insert)</em>: </strong> <span class="tag"><a href="#" onclick="ignoreTag('highschool');">highschool</a></span>, <span class="tag"><a href="#" onclick="ignoreTag('emo');">emo</a></span></span>
			</div>
			<div>
				<h3><span class="favorite">Highlight</span> roleplays tagged with...</h3>
				<span style="padding-top: 5px;" id="favorite-tags-list">{FAVORITE_TAGS}</span>
				<input type="text" id="favorite-tag" />
				<input type="button" value="Favorite" onclick="favoriteTag(document.getElementById('favorite-tag').value); return false;" />
				<span><strong>Common Favorites<em>(click to insert)</em>: </strong> <span class="tag"><a href="#" onclick="favoriteTag('original');">original</a></span>, <span class="tag"><a href="#" onclick="favoriteTag('advanced');">advanced</a></span></span>				
			</div>
			<div>
				<h3>Sort roleplays by</h3>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=activity">Activity</a></dd>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=author">Author</a></dd>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=newest">Newest</a></dd>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=posts">Posts</a></dd>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=words">Words</a></dd>
				<dd><a href="http://www.roleplaygateway.com/roleplay/?sort=average-words">Words per post</a></dd>
			
			</div>
			
			
				<script type="text/javascript">
					function ignoreTag(tag) {						
						$.ajax({
							type: "GET",
							url: "http://www.roleplaygateway.com/tag/",
							data: "mode=filter&action=ignore&tag=" + tag,
							success: function(msg){

								$('ignored-tags-list').append(', <a href="http://www.roleplaygateway.com/tag/'+ $('ignore-tag').value +'">'+ $('ignore-tag').value +'</a>');
								$('ignore-tag').value = '';
								alert( "Tag successfully ignored.");
								window.location.reload();

							}
						});
					}
					function favoriteTag(tag) {						
						$.ajax({
							type: "GET",
							url: "http://www.roleplaygateway.com/tag/",
							data: "mode=filter&action=favorite&tag=" + tag,
							success: function(msg){

								$('favorited-tags-list').append(', <a href="http://www.roleplaygateway.com/tag/'+ $('favorited-tag').value +'">'+ $('favorited-tag').value +'</a>');
								$('favorited-tag').value = '';
								alert( "Tag successfully favorited.");
								window.location.reload();

							}
						});
					}
					
					function deleteFilter(tag) {
						$.ajax({
							type: "GET",
							url: "http://www.roleplaygateway.com/tag/",
							data: "mode=filter&action=delete&tag=" + tag,
							success: function(msg){
								alert( "Tag filter successfully removed.");
								window.location.reload();
							}
						});					
					}
				</script>

		</div>
		
	<!-- ELSE -->
		<h2>Did you know?</h2>
		<div class="content">
			<div style="float: right;">
				<h3>Example Roleplay Filters:</h3>
				<img src="http://www.roleplaygateway.com/images/roleplay_filters.png" alt="Example Roleplay Filters" title="Example Roleplay Filters" />
			</div>
			<p>If you were a registered user, you could filter out (and highlight!) roleplays using tags?  You could use this feature to browse <a href="http://www.roleplaygateway.com/tag/advanced">#advanced</a> or <a href="http://www.roleplaygateway.com/tag/original">#original</a> roleplays, for example.</p>
			<p><a href="http://www.roleplaygateway.com/ucp.php?mode=register">Register now</a> to use this awesome weapon to completely customize your roleplay experience!</p>
		</div>
	<!-- ENDIF -->	
		
	<span class="corners-bottom"><span></span></span>
	</div>
</div>


<ul class="linklist" style="clear:both;">
    <li class="rightside pagination" style="font-size: 1.4em;">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>
<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Featured Roleplay</dt>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=words">Words</a></dd>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=average-words">Words per post</a></dd>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=posts">Posts</a></dd>
					<dd class="mark">Characters</dd>
				</dl>
			</li>
		</ul>
		
		<ul class="topiclist topics">

		
		<!-- BEGIN featured_roleplays -->

			<li class="row bg1 featured">
        <dl class="icon roleplay">
          <a href="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/"><img src="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/image" class="crisp-border" style="float: left; margin: 0.5em;" /></a>
					<dt style="padding-bottom:5px; padding-left: 5px;">
						<!-- IF featured_roleplays.S_CAN_EDIT -->
						<div id="controls" style="float:right;">
							<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=edit&id={featured_roleplays.ID}">Edit</a>
						</div>
						<!-- ENDIF -->					
						<a href="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/" class="topictitle">{featured_roleplays.TITLE}</a> <span class="author">by {featured_roleplays.OWNER_USERNAME}</span>
						<p>{featured_roleplays.DESCRIPTION} <a href="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/#join" class="button" style="float:right;">Join this Roleplay &raquo;</a></p>
						<span class="tags"><strong>Tags:</strong> {featured_roleplays.TAGS} (<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=add_tag&id={featured_roleplays.ID}">Add Tags &raquo;</a>)</span>
						<div>
							<div style="display: inline-block;">
								<g:plusone annotation="inline" width="120" href="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/"></g:plusone>
							</div>
							<div style="display: inline-block;">
								<div class="fb-like" data-send="false" data-layout="standard" data-width="310" data-show-faces="false" data-colorscheme="light" data-action="like" data-href="http://www.roleplaygateway.com/roleplay/{featured_roleplays.URL}/"></div>
							</div>
						</div>
					</dt>
					<dd class="mark">
						<div>{featured_roleplays.WORDS}</div>
						<!-- IF featured_roleplays.ID == 1 -->
						<small>That's <strong>935.68</strong> average-length novels!</small>
						<!-- ENDIF -->
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.WORDS_PER_POST}</div>
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.POSTS}</div>
					</dd>
					<dd class="mark">
						<div>{featured_roleplays.CHARACTERS}</div>
					</dd>
				</dl>
			</li>
	
		<!-- END featured_roleplays -->
		
		</ul>
		
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Roleplay Title</dt>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=words">Words</a></dd>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=average-words">Words per post</a></dd>
					<dd class="mark"><a href="http://www.roleplaygateway.com/roleplay/?sort=posts">Posts</a></dd>
					<dd class="mark">Characters</dd>
				</dl>
			</li>
		</ul>
		
		<ul class="topiclist topics">
		
		<!-- BEGIN roleplays -->

			<li class="row bg1 {roleplays.CLASS}">
        <dl class="icon roleplay">
          <a href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/"><img src="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/image" class="crisp-border" style="float: left; margin: 0.5em;" /></a>
					<dt style="padding-bottom:5px; padding-left: 5px;">
						<!-- IF roleplays.S_CAN_EDIT -->
						<div id="controls" style="float:right;">
							<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=edit&id={roleplays.ID}">Edit</a>
							<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=flag&id={roleplays.ID}">Flag</a>
							<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=remove_tag&id={roleplays.ID}">Del Tags</a>
						</div>
						<!-- ENDIF -->					
						{roleplays.STATUS} <a href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/" class="topictitle">{roleplays.TITLE}</a> <span class="author">by {roleplays.OWNER_USERNAME}</span>
						<p>{roleplays.DESCRIPTION} <a href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/#join" class="button" style="float:right;">Join this Roleplay &raquo;</a></p>
						<span class="tags"><strong>Tags:</strong> {roleplays.TAGS} (<a href="http://www.roleplaygateway.com/ucp.php?i=roleplays&mode=add_tag&id={roleplays.ID}">Add Tags &raquo;</a>)</span>
						<div>
							<div style="display: inline-block;">
								<g:plusone annotation="inline" width="120" href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/"></g:plusone>
							</div>
							<div style="display: inline-block;">
								<div class="fb-like" data-send="false" data-layout="standard" data-width="310" data-show-faces="false" data-colorscheme="light" data-action="like" data-href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/"></div>
							</div>
						</div>	
					</dt>
					<dd class="mark">
						<div>{roleplays.WORDS}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.WORDS_PER_POST}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.POSTS}</div>
					</dd>
					<dd class="mark">
						<div>{roleplays.CHARACTERS}</div>
					</dd>
				</dl>
			</li>
	
		<!-- END roleplays -->
		
		</ul>
		
		
		<!-- IF S_IS_ERIC -->
		
		<textarea onclick="select();">{ROLEPLAY_OWNERS}</textarea>
		
		<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<ul class="linklist" style="clear:both;">
    <li class="rightside pagination" style="font-size: 1.4em;">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>
<!-- INCLUDE overall_footer.html -->
