<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h1>RPG Asset Forge</h1>
<p>Use your <small>INK</small> to craft new artifacts in <a href="/roleplay/{ROLEPLAY_URL}">{ROLEPLAY_NAME}</a>.
  
<div class="panel">
  <h2>Create Item</h2>
  <form action="/roleplay/{ROLEPLAY_URL}/forge" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="asset[roleplay_id]" value="{ROLEPLAY_ID}" />
    
    <label for="name">Name of Thing</label>
    <input name="asset[name]" placeholder="i.e., &ldquo;Greaves of Valeria&rdquo;" />

    <label for="quantity">Quantity</label>
    <input type="number" name="asset[quantity]" value="1" />

    <label for="deposit">Deposit</label>
    <input type="number" name="asset[deposit]" value="1" step="0.01" />

    <label for="deposit">Description</label>
    <textarea name="asset[description]" max="255" rows="3" placeholder="Add a player-friendly description to this item."></textarea>

    <button type="submit" class="button">Create &raquo;</button>
  </form>
</div>

<div class="panel">
  <!-- BEGIN items -->
  <div>
    <h3>{items.NAME}</h3>
    <h4><strong>{items.QUANTITY}</strong> in existence, base price <strong>{items.VALUE} <small>INK</small></strong>.</h4>
    <p>{items.DESCRIPTION}</p>
  </div>
  <!-- END items -->
</div>

<!-- INCLUDE overall_footer.html -->
