<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h1>Snippet #{SNIPPET_ID}</h1>
<h3>located in <a href="{SNIPPET_LOCATION_LINK}" style="display: inline;">{SNIPPET_LOCATION_NAME}</a>, a part of <a href="{SNIPPET_ROLEPLAY_LINK}">{SNIPPET_ROLEPLAY_NAME}</a>, one of <a href="/universes">the many universes</a> on <a href="/">RPG</a>.</h3>

<a href="{SNIPPET_LOCATION_LINK}"><img src="{SNIPPET_LOCATION_LINK}/image" alt="{SNIPPET_LOCATION_NAME}" class="crisp-border" style="float:left; margin-right: 10px;" /></a>

<div style="font-size:1.2em;">
  <p>{SNIPPET_LOCATION_SYNOPSIS}</p>
</div>

<div class="panel fabricated">
  <div class="activity" id="a{SNIPPET_ID}" data-content-id="{SNIPPET_ID}">
    <a class="anchor" name="roleplay{SNIPPET_ID}"></a>
    <div style="float:right; width: 170px; border-left: 1px solid #ccc; padding-left: 10px;">
      <div>
        <h3>Setting</h3>
        <div><span class="location"><a href="{SNIPPET_ROLEPLAY_LINK}/places/{SNIPPET_LOCATION_URL}">{SNIPPET_LOCATION}</a></span></div>

        <h3>Characters Present</h3>
        <div class="postCharacterList" data-for="{SNIPPET_ID}">
        <!-- BEGIN characters -->
          <a href="{SNIPPET_ROLEPLAY_LINK}/characters/{characters.URL}/" title="{characters.NAME}"><img src="{SNIPPET_ROLEPLAY_LINK}/characters/{characters.URL}/image" alt="Character Portrait: {characters.NAME}" style="height:50px;" class="crisp-border" /></a>
        <!-- BEGINELSE -->
        <p>No characters tagged in this post!</p>
        <!-- END characters -->
        </div>
        <a href="#" onclick="$('.characterTagging[data-for={SNIPPET_ID}]').slideToggle(); return false;" style="display:block; clear:both;" class="button">Tag Characters &raquo;</a>

        <div class="characterTagging" data-for="{SNIPPET_ID}" style="display: none;">
          <input class="characterSearch" data-for="{SNIPPET_ID}" name="characterSearch" style="padding: 0.2em;" placeholder="Tag a character" />
          <input type="hidden" class="taggedCharacterList" data-for="{SNIPPET_ID}" name="taggedCharacterList" />
          <div class="taggedCharacters" data-for="{SNIPPET_ID}"></div>
          <div class="taggingStatus" data-for="{SNIPPET_ID}"></div>
          <input type="button" style="float:right;" class="submitTaggedCharacters" value="Tag Them! &raquo;" data-for="{SNIPPET_ID}" />
        </div>

        <script type="text/javascript">
          document.taggedCharacters[{SNIPPET_ID}] = [];
        </script>

        <a href="#" style="display:block; clear:both;" class="button bundleButton" data-for="{SNIPPET_ID}">Add to Arc &raquo;</a>
        <div class="bundleListWrapper" style="display:none;" data-for="{SNIPPET_ID}">
          <div class="bundleList" data-for="{SNIPPET_ID}"></div>
          <a href="/ucp.php?i=roleplays&amp;mode=add_arc&amp;roleplay_id={ID}&amp;with_post={SNIPPET_ID}" class="button" style="float: right; clear: both; font-size: 1.2em;">new arc &raquo;</a>
        </div>
      </div>
      <div style="clear: both;">
        <h3>Footnotes</h3>
        <ol class="footnote-list" data-for="{SNIPPET_ID}">
        <!-- BEGIN footnotes -->
          <li>
            <p>
              <span>{footnotes.FOOTNOTE}</span>
              <cite><span class="time timeago" title="{footnotes.TIME_ISO}">{footnotes.TIME_AGO}</span> by <a href="https://www.roleplaygateway.com/member/{footnotes.AUTHOR_USERNAME}">{footnotes.AUTHOR_USERNAME}</a></cite>
            </p>
          </li>
        <!-- END footnotes -->
        </ol>
        <a href="#" style="display:block; clear:both;" class="button footnoteButton" data-for="{SNIPPET_ID}">Add Footnote &raquo;</a>
        <form action="/roleplay-comment.php" style="display:none;" class="footnoteWrapper" data-for="{SNIPPET_ID}">
          <input type="hidden" name="contentID" value="{SNIPPET_ID}" />
          <input type="text" name="content" />
          <!-- IF SNIPPET_S_CAN_EDIT  -->
          <label for="author">use original author</label>
          <input type="checkbox" name="author" />
          <!-- ENDIF -->
          <input type="submit" />
        </form>
      </div>
      <div>
        <p>
          <span class="labeled action">
            <span data-bind="stats.tips" data-link="/snippets/{SNIPPET_ID}">{SNIPPET_TIPS_TOTAL}</span> <small>INK</small>
            <!-- IF S_USER_LOGGED_IN --><button class="special button" on-tap="_promptToTip" data-amount="0.25" data-author="{SNIPPET_AUTHOR_ID}" data-link="/snippets/{SNIPPET_ID}">+ 0.25</button><!-- ENDIF -->
          </span>
        </p>
        <!-- <center style="margin-top: 1em;"><abbr title="Tips are donations to the author." class="tooltipped">tips received</abbr></center> -->
      </div>
    </div>
    <div style="margin-right: 170px; padding-right:10px;">
      <div class="author">
        <div class="controls" style="float:right;">
          <!-- IF SNIPPET_S_CAN_EDIT  -->
          <a href="/ucp.php?i=roleplays&amp;mode=edit_content&amp;content_id={SNIPPET_ID}">Edit</a> &bullet;
          <!-- ENDIF -->
          <!-- IF SNIPPET_S_CAN_DELETE -->
          <a href="#" data-action="delete-content" data-content-id="{SNIPPET_ID}">Delete</a> &bullet;
          <!-- ENDIF -->
          <a href="#" data-action="flag-content" data-content-id="{SNIPPET_ID}">Mark as&hellip;</a>
          <div id="content-controls-{SNIPPET_ID}" class="flyover"></div>
        </div>
        <a href="{SNIPPET_PERMALINK}"><small>#</small><span class="time timeago" title="{SNIPPET_TIME_ISO}">{SNIPPET_TIME_AGO}</span></a><!-- IF SNIPPET_S_IS_ANONYMOUS --><!-- ELSE -->, as <!-- IF SNIPPET_S_IS_COLLABORATION -->a special <strong>collaborative post</strong>.<!-- ELSE -->written by <strong>{SNIPPET_AUTHOR}</strong><!-- ENDIF --><!-- ENDIF -->
      </div>
      <div class="content<!-- IF SNIPPET_S_IS_DIALOGUE --> dialogue<!-- ENDIF -->" style="padding-top: 5px; margin-top:10px; padding-right: 5px;">
        <!-- IF SNIPPET_S_IS_DIALOGUE -->
          <div class="dialogue-character" style="float:left; width:150px; text-align:center;">
            <em><a href="{SNIPPET_ROLEPLAY_LINK}/characters/{SNIPPET_CHARACTER_URL}/">
              <img src="{SNIPPET_ROLEPLAY_LINK}/characters/{characters.URL}/image" alt="Character Portrait: {characters.NAME}" style="height:50px; display: block; margin-left: auto; margin-right: auto;" />
              {SNIPPET_CHARACTER_NAME}
            </a> says,</em>
          </div>

          <div class="dialogue-bubble" style="clear:none; margin-left: 160px;">
            <span class="pointer">&nbsp;</span>&ldquo;
        <!-- ENDIF -->
            {SNIPPET_CONTENT}
        <!-- IF SNIPPET_S_IS_DIALOGUE -->
          &rdquo;</div>
        <!-- ENDIF -->

        <script type="text/javascript">
          if (typeof(window.lastID) == 'undefined') {
            window.lastID = 0;
          }

          if ({SNIPPET_ID} > window.lastID) {
            window.lastID = {SNIPPET_ID};
          }
        </script>


      </div>
      <hr />
    </div>
  </div>
</div>

<!-- INCLUDE overall_footer.html -->
