<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<h1 style="color:#596E7C;"><a href="http://www.roleplaygateway.com/member/{USERNAME}/">{USERNAME}</a> &raquo; <a href="http://www.roleplaygateway.com/member/{USERNAME}/roleplays">Roleplays</a></h1>

<ul class="linklist">
    <li class="rightside pagination">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
    <div class="postbody" style="width:inherit;"><div class="">

      <!-- BEGIN roleplays -->
      <div class="place" style="height:auto;">
        <img src="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/image" />
	      <h2><a href="http://www.roleplaygateway.com/roleplay/{roleplays.URL}/">{roleplays.TITLE} {roleplays.STATUS}</a></h2>
	      <p>{roleplays.SYNOPSIS}</p>
      </div>
      <!-- BEGINELSE -->
	      <p class="supersize">This user has not created any roleplays!</p>
      <!-- END roleplays -->

    </div></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<ul class="linklist">
    <li class="rightside pagination">{TOTAL_ROLEPLAYS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>

<!-- INCLUDE overall_footer.html -->
