<!-- INCLUDE overall_header.html -->
<h2>404 Error: {URI} Not Found</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div style="float:right;width:30%;border:2px solid #000; padding:20px;">
			<style type="text/css">
			  #goog-wm { }
			  #goog-wm h3.closest-match { }
			  #goog-wm h3.closest-match a { }
			  #goog-wm h3.other-things { }
			  #goog-wm ul li { }
			  #goog-wm li.search-goog { display: block; }
			</style>
			<script type="text/javascript">
			  var GOOG_FIXURL_LANG = 'en';
			  var GOOG_FIXURL_SITE = 'http://www.roleplaygateway.com/';
			</script>
			<script type="text/javascript" 
			    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
		</div>
		<h3>We couldn't find what you were looking for.</h3>
		<p>Chances are that <strong>{REFERER}</strong> gave you a broken link. You should let them know so they can fix their link.</p>
		<h3>But it's okay.</h3>
		<p>You have a few options. You can visit our <a href="http://www.roleplaygateway.com">main site</a>, browse <a href="http://www.roleplaygateway.com/index.php">our forums</a>, or jump into <a href="http://www.roleplaygateway.com/chat.php">our chat</a> to say hello.<p>
		<h3>Wait, who are you?</h3>
		<p>We're RolePlayGateway, an online community for people who enjoy Role Playing Games.  <a href="http://www.roleplaygateway.com">Role Playing Games by RolePlayGateway</a> includes <a href="http://www.roleplaygateway.com/forum.html">Role Playing Forums</a> and <a href="http://www.roleplaygateway.com">Role Playing Chat</a>, and a large community that is (usually) welcoming and friendly.</p>
		<p>If you're here and you're not already a member, you should <a href="http://www.roleplaygateway.com/ucp.php?mode=register">register a new account</a>, and make a <a href="http://www.roleplaygateway.com/posting.php?mode=post&f=95">post at the Welcome Desk</a> to introduce yourself.</p>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->