<!-- INCLUDE overall_header.html -->

<!--  SURREAL -->
<center>
	<h2>Sorry about the chat troubles!</h2>
	<p><strong>We're doing a little work under the hood right now.  Use this chat in the mean time.</strong></p>
	<iframe src="http://www.surrealchat.net/chat/GWing" style="width:725px; height:500px;" scrolling="no" frameborder="0" marginwidth="0"></iframe>
</center>

<!-- HTTP -->
<!--<iframe src="http://www.roleplaygateway.com/embed/" width="100%" height="650" scrolling="no" frameborder="0" marginwidth="0"></iframe>-->

<!-- INCLUDE overall_footer.html -->
