<!-- INCLUDE overall_header.html -->

<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td valign="top">
			<div class="panel">
				<div class="inner">
					<span class="corners-top"><span></span></span>
					<a href="forum.html" title="Role Playing Forums"><div style="float:right;"><img src="/images/roleplaying_forums.png" alt="Visit the Forum" /><h2 style="text-align:center;">Visit the forum...</h2></div></a>
					
					<script>utmx_section("Promo Block")</script>
					<div style="font-size:14px; margin-bottom:20px;">
						<h3>Roleplay Your Way.  Period.</h3>
						<div style="border:3px solid; padding:10px; letter-spacing:-1px;">
							<p>
								Here's the deal. <strong><a href="http://www.roleplaygateway.com/ucp.php?mode=register">Register now</a>, then <a href="http://www.roleplaygateway.com/posting.php?mode=post&amp;f=95">post an introduction</a>, and we'll show you why we're better than <img src="images/gaia.ico" title="GaiaOnline" alt="GaiaOnline" />Gaia, <img src="images/rpgc.ico" title="RPGChat" alt="RPGChat" />RPGChat, <img src="images/rpgc.ico" title="Anime-Forums" alt="Anime-Forums" />Anime-Forums, and <em>every roleplay site you've been to</em>.</strong>
							</p>
							<p style="padding-left:100px;">
								<strong>Think otherwise? <a href="http://www.roleplaygateway.com/posting.php?mode=reply&amp;f=11&amp;t=351">Tell me. &raquo;</a></strong>
							</p>
						</div>
					</div>
					</noscript>
										
					<p><strong>RolePlayGateway.com (RPGateway, Gateway) is a community dedicated to online, text based role-playing games, their players, and other skills and pastimes associated with role-playing.</strong></p>
					<p>At Gateway we aim to provide a community where you are welcomed with a warmness that is unmatched, made to feel right at home, and given the freedom of not being monitored by the staff.</p>
					<p>We will never delete a roleplay thread that has been brought to life on our forums. We are not the type of organization that will be unrealistically strict, nor will we come down like a ton of bricks issuing bans and official warnings at the first opportunity. Instead we wish to issue our new (and old) players into a world of unrivaled freedom of play. Here at Gateway you play your way.</p>
					<p>Free Form Role Play, is what Gateway is all about. And as such, you should be allowed to play in ways that interest and motivate you. It is our goal to successfully accommodate the skillful and creative minds of roleplayers world wide.</p>
					<p>Yes, we are a community. But a community cannot possibly grow or become stable from a singular common interest like roleplay. So, to involve a more diverse crowd, all members will find that throughout the site there are many non-roleplay threads and discussions happening all the time. From general discussions and debates, gaming, martial arts, and technology chat, to places where you can show off skills such in areas like music, art, and writing.</p>
					<p>Alongside the forums, we also have an integrated chat service that will allow you to talk to staff and other members in real time, along with being able to RP in a chat style.</p>			
					<p><a href="http://www.roleplaygateway.com/ucp.php?mode=register">Register for an account today!</a></p>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		</td>
		<td valign="top" style="width:220px; padding-left:6px;">
			<div class="panel">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<h3>Link to us</h3>
						Please feel free to link to <strong>RolePlayGateway</strong>. Use the following HTML:<br /><br />
						<input type="text" tabindex="1" size="28" onclick="select();" value="&lt;a&nbsp;href=&quot;http://www.roleplaygateway.com/&quot;&nbsp;title=&quot;Role Playing Games&quot;&gt;RolePlayGateway&lt;/a&gt;" class="inputbox autowidth" /><br /><br />
						Or BBcode, for forums:<br /><br />
						<input type="text" tabindex="1" size="28" onclick="select();" value="Proud member of [url=http://www.roleplaygateway.com/]RolePlayGatetway[/url]." class="inputbox autowidth" /><br /> 
					
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<br style="clear:both" />	
			<div class="panel">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<a href="http://www.roleplaygateway.com/viewtopic.php?f=1&amp;t=2416"><h3>Join Us On Our...</h3></a>
						<a href="http://hs.facebook.com/group.php?gid=2701525295" class="postlink">Facebook Group</a><br />
						<a href="http://community.livejournal.com/roleplaygateway/" class="postlink">LiveJournal Group</a><br />
						<a href="http://www.last.fm/group/RolePlay+Gateway" class="postlink">Last.fm Group</a><br />
						<a href="http://groups.myspace.com/roleplaygateway" class="postlink">MySpace Group</a><br />
						<a href="http://www.flickr.com/groups/roleplay/" class="postlink">Flickr Group</a><br />
						<a href="http://roleplay.ning.com/" class="postlink">Ning Page</a><br />
						<a href="http://groups.yahoo.com/group/roleplaygateway">Yahoo Group</a><br />
						<a href="http://www.youtube.com/group/roleplaygateway" class="postlink">YouTube Group</a>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<br style="clear:both;" />
			<div class="panel">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<h3>Make a Donation</h3>
						<div style="float:right; text-align:center;">

								<form action="https://www.paypal.com/cgi-bin/webscr" method="post">							<p>
									<input type="hidden" name="cmd" value="_xclick" />
									<input type="hidden" name="business" value="eric.martindale@gmail.com" />
									<input type="hidden" name="item_name" value="Make donation" />
									<input type="hidden" name="no_note" value="1" />
									<input type="hidden" name="currency_code" value="USD" />
									<input type="hidden" name="no_shipping" value="2" />
									<input type="hidden" name="bn" value="PP-DonationsBF" />
									<input type="hidden" name="tax" value="0" />
									$
									<select name="amount">
										<option value="1.00">1.00</option>
										<option value="2.00">2.00</option>
										<option value="3.00">3.00</option>
										<option value="4.00">4.00</option>
										<option value="5.00">5.00</option>
										<option value="10.00">10.00</option>
										<option value="20.00">20.00</option>
										<option value="25.00">25.00</option>
										<option value="50.00">50.00</option>
										<option value="100.00">100.00</option>
									</select>
									<br />
									<input type="image" src="http://www.roleplaygateway.com/bb3portal/images/paypal.gif" style="border:0px; background-color:transparent; padding-top:6px" />
															</p></form>

						</div>
						<div>
							<strong>RolePlayGateway</strong> is a site built by a couple roleplayers who wanted to give a little something back to the roleplay community.  The site has no intention of earning any revenue, and is paid for out of their own pockets. <br /><br />
							
							If you appreciate what they do, feel free to donate your spare change to help feed them on the weekends.  After selecting the amount you want to donate from the menu, you can continue by clicking on PayPal logo.<br />
						</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<br style="clear:both;" />
			<div class="panel">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<a href="http://www.roleplaygateway.com/links.php"><h3>Affiliates!</h3></a>
						<a href="http://www.animeleague.net/" rel="nofollow">AnimeLeague</a><br />
						<a href="http://roleplayerguild.com/" title="roleplay forum">Roleplayer Guild</a><br />
						<a href="http://www.dungeonmastering.com">DungeonMastering</a>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		</td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->