<!-- $Id: announcements.html,v 1.1 2007/04/14 02:05:17 angelside Exp $ //-->

<h3>{L_ANNOUNCEMENTS}</h3>
<!-- BEGIN announcements_row -->
<div class="post bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="postbody postbody_portal">
		<h4 class="first">{announcements_row.ATTACH_ICON_IMG}<!-- IF announcements_row.S_POLL --> <strong>{L_POLL}: </strong><!-- ENDIF --><a href="{announcements_row.U_VIEW_COMMENTS}"><strong>{announcements_row.TITLE}</strong></a></h4>
		<ul class="linklist">
			<li>
				{L_POSTED_BY}: <strong><a href="{announcements_row.U_USER_PROFILE}">{announcements_row.POSTER}</a></strong> 
			</li>
			<li class="rightside">
				{announcements_row.TIME}
			</li>
		</ul>		
		<br />
		<div class="content">{announcements_row.TEXT}</div><br />		
		<span style="float: left;">{announcements_row.OPEN}<a href="{announcements_row.U_READ_FULL}">{announcements_row.L_READ_FULL}</a>{announcements_row.CLOSE} &nbsp;&bull;&nbsp; <a href="{announcements_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {announcements_row.REPLIES}</a> &nbsp;&bull;&nbsp; <a href="{announcements_row.U_POST_COMMENT}">{L_POST_REPLY}</a></span>	
	</div>
	<div class="back2top">
		<a href="#wrap" title="Top"><img src="./styles/prosilver/theme/images/top.gif" width="11" height="11" alt="Top" /></a>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<hr class="divider" />
<!-- IF announcements_row.S_NOT_LAST --><!--<br />--><!-- ENDIF -->
<!-- END announcements_row -->

