<!-- $Id: link_us.html,v 1.4 2007/04/17 20:47:52 angelside Exp $ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_LINK_US}</h3>
			{LINK_US_TXT}<br /><br />
			<input type="text" tabindex="1" size="28" value="{U_LINK_US}" class="inputbox autowidth" onclick="select();" /><br />
			Or use BBCode, for forums and signatures:<br /><br />
			<input type="text" tabindex="1" size="28" value="Proud member of [url=//www.roleplaygateway.com]RolePlayGateway[/url]" class="inputbox autowidth" onclick="select();" /><br />
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" />