<!-- $Id: most_poster.html,v 1.4 2007/04/12 06:19:41 angelside Exp $ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_MOST_POSTER}</h3>
			<span style="float:left;"><strong>{L_USERNAME}</strong></span>
			<span style="float:right;padding-right:10px;"><strong>{L_POSTS}</strong></span><br />
			<!-- BEGIN most_poster -->
			<span style="float:left;"><img src="bb3portal/images/member.gif" /> <a href="{most_poster.U_USERNAME}"><span<!-- IF most_poster.USERNAME_COLOR -->{most_poster.USERNAME_COLOR}<!-- ENDIF -->>{most_poster.USERNAME}</span></a></span>
			<span style="float:right;padding-right:10px;"><a href="{most_poster.S_SEARCH_ACTION}">{most_poster.POSTER_POSTS}</a></span><br clear="all" />
			<!-- END most_poster -->		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" />