<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<a href="//www.roleplaygateway.com/viewtopic.php?f=1&t=2416"><h3>Join Us On Our...</h3></a>
			<a href="http://hs.facebook.com/group.php?gid=2701525295" class="postlink">Facebook Group</a><br>
			<a href="http://community.livejournal.com/roleplaygateway/" class="postlink">LiveJournal Group</a><br>
			<a href="http://www.last.fm/group/RolePlay+Gateway" class="postlink">Last.fm Group</a><br>
			<a href="http://groups.myspace.com/roleplaygateway" class="postlink">MySpace Group</a><br>
			<a href="http://www.flickr.com/groups/roleplay/" class="postlink">Flickr Group</a><br>
			<a href="http://roleplay.ning.com/" class="postlink">Ning Page</a><br />
			<a href="http://groups.yahoo.com/group/roleplaygateway">Yahoo Group</a><br />
			<a href="http://www.youtube.com/group/roleplaygateway" class="postlink">YouTube Group</a>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>