<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<div class="special padded panel">
  <div class="special large centered panel">
    <h2>404 Error: <code>{URI}</code> Not Found</h2>
		<h3>We couldn't find what you were looking for.</h3>
		<p>Chances are that <strong>{REFERER}</strong> gave you a broken link. You should let them know so they can fix their link.</p>
  </div>

  <div class="special centered panel">
		<h3>But it's okay.</h3>
		<p>You have a few options. You can visit our <a href="/">main site</a>, browse <a href="/forum.html">our forums</a>, or jump into <a href="https://chat.verse.im/">our chat</a> to say hello.<p>
		<h3>Wait, who are you?</h3>
		<p>We're RPG, an online community of writers, gamers, and storytellers.  If you're here and you're not already a member, you should <a href="/ucp.php?mode=register">register a new account</a>, and make a <a href="/posting.php?mode=post&amp;f=95">post at the Welcome Desk</a> to introduce yourself.</p>
  </div>
</div>
<!-- INCLUDE overall_footer.html -->
