<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<style type="text/css">
.panel p {
  margin-bottom: 2em;
}

.special-avatar {
	max-height: 50px;
	max-width: 50px;
}
</style>

<h2>About RPG</h2>
<div class="padded panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<img src="//www.roleplaygateway.com/images/roleplaygateway.png" style="float:right; margin:10px;" alt="RPG Logo" />
			<a name="objective"></a>
			<p style="font-size:1.5em;"><strong>RPG's Objective</strong> is <abbr title="道">to be home</abbr> to an open, world-wide, and welcoming community of writers, storytellers, and artists of all kinds.  We empower our members by offering constructive collaboration, tools and resources, and a commitment to protect and preserve the works of art we house.</p>
			<p><strong>We're here to help our members build amazing worlds, tell incredible stories, and explore the boundaries of digital potential through collaborative writing.</strong></p>

      <center><img src="/images/hr.png" style="max-height: 75px; margin: 1em 0;" /></center>

      <p>In what started as a small chatroom, a group of strangers came together through Internet Relay Chat &mdash; and became lifelong friends.  Many years later, they teamed up to create <strong>RPGateway</strong> (RPG), with the hopes of giving others the same opportunity — to meet other creative writers and create incredible memories together.</p>
			<p>We've worked hard to build a community full of inspiration and creativity, empowering our members with the tools they needed to organize their stories into what you see today.  We're <strong>entirely volunteer-run</strong>, but some of us have been building worlds together for almost 20 years.</p>

			<h3>Who are we?</h3>
			<p>Listed below are our senior staff members, who oversee the RPG Staff teams; <a href="/ambassadors-g2647.html">the <span style="color: orange;">Ambassadors</span></a>, <a href="/global-moderators-g2625.html">the <span style="color: #00CC00;">Moderators</span></a>, <a href="/scholars-g2629.html">the <span style="color: #003366;">Scholars</span></a>, and <a href="/rpg-new-design-team-t100940.html">the <span style="color: #f34753;">Designers</span></a>.</p>
			
			<div style="text-align:center; margin-left:auto; margin-right:auto; width:100%;">
				<table width="100%" style="display: none;">
					<tbody>
						<tr>
						<!-- BEGIN owners -->
						<td align="center">
							<a href="//www.roleplaygateway.com/member/{owners.URL}/">
							{owners.AVATAR}<br />
							<strong>{owners.NAME}</strong><br />
							<em>{owners.GROUP}</em>
							</a>
						</td>
						<!-- END owners -->
						</tr>
					</tbody>
				</table>
				<table width="100%" style="display: none;">
					<tbody>
						<tr>
						<!-- BEGIN admins -->
						<td align="center">
							<a href="//www.roleplaygateway.com/member/{admins.URL}/">
							{admins.AVATAR}<br />
							<strong>{admins.NAME}</strong><br />
							<em>{admins.GROUP}</em>
							</a>
						</td>
						<!-- END admins -->
						</tr>
					</tbody>
				</table>
				<table width="100%">
					<tbody>
						<tr>
						<!-- BEGIN leaders -->
						<td align="center">
							<a href="//www.roleplaygateway.com/member/{leaders.URL}/">
							{leaders.AVATAR}<br />
							<strong>{leaders.NAME}</strong><br />
							<em>{leaders.GROUP} Leader</em>
							</a>
						</td>
						<!-- END leaders -->
						</tr>
					</tbody>
				</table>
			</div>
			
			<h3 style="margin-top: 2em;">How To Support Us</h3>
			<p>As always, these projects take time and money.  We're a volunteer-run organization, so please &mdash; consider donating today!</p>
      <p style="text-align: center; padding-top: 1em;"><a href="/donate" class="button">Donate to RPG &raquo;</a></p>
      		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
