<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000 codebase=" http:="" download.macromedia.com="" pub="" shockwave="" cabs="" flash="" swflash.cab#version="4,0,0,0&quot;" id="ad_banner_example1" width="728" height="90">
	<param name="movie" value="http://ccp.vo.llnwd.net/o2/banner/affiliate/Eve_728x90_v2.swf?clickTAG=https://secure.eve-online.com/ft/?aid=103657">
	<param name="loop" value="false">

	<param name="menu" value="false">
	<param name="quality" value="medium">
	<embed src="http://ccp.vo.llnwd.net/o2/banner/affiliate/Eve_728x90_v2.swf?clickTAG=https://secure.eve-online.com/ft/?aid=103657" loop="false" menu="false" quality="medium" bgcolor="#FFFFFF" swliveconnect="FALSE" type="application/x-shockwave-flash" width="728" height="90"><param name="bgcolor" value="#FFFFFF">
</object>

<p style="text-align:left;"><strong>By the way:</strong> <a href="//www.roleplaygateway.com/remaeus-u4.html">RolePlayGateway's owner</a> (as well as several other staff members) play EVE Online.  You can join them by messaging "Baeryn", "SinOfEve", or "Etinaris" in-game.  Learn more about <a href="https://secure.eve-online.com/ft/?aid=103657">EVE Online</a> on one of our partner sites, <a href="http://hammer-eve.blogspot.com">Hammer's EVE Tutorials</a>.</p>
