<h3>Make a Donation</h3>
<div style="float: right; text-align: center;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<p>
			<input name="cmd" value="_xclick" type="hidden">
			<input name="business" value="admin@roleplaygateway.com" type="hidden">
			<input name="item_name" value="Make donation" type="hidden">
			<input name="no_note" value="1" type="hidden">
			<input name="currency_code" value="USD" type="hidden">
			<input name="no_shipping" value="2" type="hidden">
			<input name="bn" value="PP-DonationsBF" type="hidden">
			<input name="tax" value="0" type="hidden">
			$<select name="amount">
				<option value="10.00">10.00</option>
				<option value="100.00">100.00</option>
				<option value="50.00">50.00</option>
				<option value="25.00">25.00</option>
				<option value="20.00">20.00</option>
				<option value="5.00">5.00</option>
				<option value="4.00">4.00</option>
				<option value="3.00">3.00</option>
				<option value="2.00">2.00</option>
				<option value="1.00">1.00</option>
			</select>
			<br />
			<input src="//www.roleplaygateway.com/bb3portal/images/paypal.gif" style="border: 0px none ; background-color: transparent; padding-top: 6px;" type="image">
		</p>
	</form>
<a href="https://www.patreon.com/bePatron?u=6381602" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</div>
<div>
	<p><strong>RPG</strong> relies exclusively on user donations to support the platform.</p>
  <p>Donors earn <a href="/medals/contributor">the "Contributor" achievement</a> and are permanently recognized in the credits.  Consider <a href="/donate">donating today</a>!</p>
</div>
