<!-- INCLUDE overall_header.html -->
<h2>Advertise Your Roleplay</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<!--
	<h3>Site Traffic &amp; Reach</h3>
	<p>
		<strong>Monthly Unique Visitors:</strong> 57,000<br />
		<strong>Monthly Unique Pageviews:</strong> 917,000<br />
		<strong>Active Members:</strong> 500+<br />
		<strong>Alexa Ranking:</strong> <a href="http://www.alexa.com/data/details/traffic_details/roleplaygateway.com">146,940</a><br />
		<strong>Technorati:</strong> <a href="http://www.technorati.com/blogs/www.roleplaygateway.com">102,643</a>
	</p>
	<img src="//www.roleplaygateway.com/images/gateway_traffic.PNG" alt="RolePlayGateway traffic for early to mid 2008." width="100%" />
	
		<h3>Want to get your roleplay off the ground?</h3>
		<p>Make sure that your roleplay gets enough visitors to keep it going for years to come.  Using the leverage provided by RolePlayGateway's advertising services, you can place your ad in front of hundreds of potential roleplayers for minimal cost.</p>

		<h3>Target Audience</h3>
		<p>Visitors of RolePlayGateway.com are typically between 14 and 25 in age. The vast majority of readers are writers, gamers, roleplayers, and avid readers.  Since this is a site about roleplaying, its members are typically interested in new and intriguing roleplays with captivating storylines and plot hooks.</p>

		<h3>What we offer.</h3>
		<p>RolePlayGateway offers a host of advertisement solutions, and is always open to proposals if you can not find a solution that fits your needs.</p>
		
		<h3>Interested?</h3>
		<p>Contact the <a href="mailto:sales@roleplaygateway.com">sales team</a> for more information.</p>
		-->
		
	<h3>The situation.</h3>
	<p>You've got a kick-ass roleplay that you've spent all week working on, writing and editing your first post.  Now that it's time to get started, you'll need to go find the most important ingredient: <strong>great roleplayers</strong>.</p>
	
	<h3>The solution.</h3>
	<p>For a very reasonable and affordable price, we'll let you create an advertisement that will be posted on our content network.  It will be displayed to hundreds of active, high-quality, and experienced roleplayers - and we'll let you do all the work in actually <em>running</em> the roleplay, so you don't waste time looking for players!</p>

	<h3>Site Traffic &amp; Reach</h3>
	<p>
		<strong>Monthly Unique Visitors:</strong> 65,000<br />
		<strong>Monthly Unique Pageviews:</strong> 1,020,000<br />
		<strong>Active Members:</strong> 500+<br />
		<strong>Alexa Ranking:</strong> <a href="http://www.alexa.com/data/details/traffic_details/roleplaygateway.com">146,940</a><br />
		<strong>Technorati:</strong> <a href="http://www.technorati.com/blogs/www.roleplaygateway.com">102,643</a>
	</p>
	
	<h3>Offers &amp; Prices</h3>
	<em><strong>Note:</strong> All advertisments include a <strong>permanent</strong> listing in our directory of <a href="//www.roleplaygateway.com/places-roleplay-t2563.html" title="List of places to roleplay">Places to Roleplay</a>.</em>
	<p>For <strong>$15 USD per month</strong>, we will place your ad in the top right hand corner of RolePlayGateway, right alongside the "<strong>New Topics</strong>" block.</p>
	<p><span style="font-size:22px;"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=eric%2emartindale%40gmail%2ecom&item_name=RolePlayGateway%20Advertisement&no_shipping=1&return=http%3a%2f%2fwww%2eroleplaygateway%2ecom&no_note=1&currency_code=USD&lc=US&bn=PP%2dSubscriptionsBF&charset=UTF%2d8&a3=15%2e00&p3=1&t3=M&src=1&sra=1">Buy Your Advertisement Now By Clicking Here</a></span></p>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->