<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h1>Ambassadors</h1>
<p>Use your <small>INK</small> to craft new artifacts in <a href="/roleplay/{ROLEPLAY_URL}">{ROLEPLAY_NAME}</a>.</p>

<div class="panel">
  <form action="/assets" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="name">Name of Thing</label>
    <input name="asset[name]" value="" placeholder="i.e., &ldquo;Greaves of Valeria&rdquo;" />
    
    <button type="submit" class="button">Create &raquo;</button>
  </form>
</div>

<!-- INCLUDE overall_footer.html -->
