<div class="horizontal-scroller" style="max-height: 140px; overflow: hidden; width: 100%;">
  <!-- BEGIN buyable_items -->
  <div style="display: inline-block;">
    <div style="text-align: center;">
      <a href="{buyable_items.ASSET_LINK}">
        <img src="{buyable_items.ASSET_IMG_LINK}" title="{buyable_items.ASSET_DESCRIPTION}" class="crisp-border medium" />
      </a>
    </div>
    <div style="text-align: center;"><h3 class="simple"><a href="{buyable_items.ASSET_LINK}">{buyable_items.ASSET_NAME}</a></h3></div>
    <div style="width: 180px; margin-left: auto; margin-right: auto;">
      <div class="button group" style="margin: 0.5em; width: 140px; margin-left: auto; margin-right: auto;">
        <!-- IF buyable_items.S_CAN_EDIT -->
        <a class="marginalized pricing" on-tap="_promptAndSetPrice" data-link="{buyable_items.ASSET}">
          <span data-bind="sale-price" data-price="{buyable_items.PRICE}" title="{buyable_items.PRICE_RAW}">{buyable_items.PRICE}</span>
          <small>INK</small>
        </a>
        <!-- ELSE -->
        <!-- IF buyable_items.S_CAN_AFFORD -->
        <a class="marginalized pricing" on-tap="_fillOrder" data-link="/items/{buyable_items.ID}" data-price="{buyable_items.PRICE}">
          <span data-bind="sale-price" title="{buyable_items.PRICE_RAW}">{buyable_items.PRICE}</span>
          <small>INK</small>
        </a>
        <!-- ELSE -->
        <a class="marginalized pricing" on-tap="_promptToEarn" data-link="/items/{buyable_items.ID}" data-price="{buyable_items.PRICE}">
          <span data-bind="sale-price" title="{buyable_items.PRICE_RAW}">{buyable_items.PRICE}</span>
            <small>INK</small>
        </a>
        <!-- ENDIF -->
        <!-- ENDIF -->
        
        <!-- IF buyable_items.S_CAN_EDIT -->
        <div class="header">
          <a on-tap="_promptAndSetPrice" data-link="{buyable_items.ASSET}"><small>change</small></a>
          <span class="separator subtext"> / </span>
          <a on-tap="_cancelOrder" data-link="/items/{buyable_items.ID}" title="cancel this order"><small>close</small></a>
        </div>
        <!-- ELSE -->
        <!-- IF buyable_items.S_CAN_AFFORD -->
        <div class="">
          <a class="header clean" on-tap="_fillOrder" data-link="/items/{buyable_items.ID}" data-price="{buyable_items.PRICE}">Buy Now</a>
        </div>
        <!-- ELSE -->
        <div class="">
          <a class="header clean" href="/medals" on-tap="_promptToEarn" data-price="{buyable_items.PRICE}">Earn to Buy</a>
        </div>
        <!-- ENDIF -->
        <!-- ENDIF -->
      </div>
    </div>
  </div>
  <!-- END buyable_items -->
</div>