<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<h2>The RPG Community</h2>

<div class="special panel">
  <h3>Celebrating Our Achievements</h3>
  <p>Throughout the years, our members have written hundreds of millions of words in worlds beyond imagination.  Here we feature just a few of our word-wielding wizards, commemorating their achievements.  The writer's journey can be hard, but it <a href="/medals">can also be rewarding</a>...</p>
</div>

<!-- INCLUDE featured-users.html -->
<!-- IF S_RANDOM_POST -->
<div class="panel" style="padding-top: 1em;">
  <h3>Latest Post</h3>
  <div>
    <!-- INCLUDE roleplay_stream_body.html -->
  </div>
</div>
<!-- ENDIF -->

<div>
  <h3>Most Written Words</h3>
  <div>
    <!-- BEGIN mostwords -->
    <a class="tiny tooltipped icon card" href="/member/{mostwords.USERNAME}" title="{mostwords.USERNAME}, with {mostwords.TOTAL} written words" onmouseover="show_popup({mostwords.ID})" onmouseout="close_popup()">
      <img src="{mostwords.USER_AVATAR_URL}" class="crisp-border" />
      <!-- <h4>{mostwords.USERNAME}</h4>
      <h5>{mostwords.TOTAL} medals</h5> -->
    </a>
    <!-- END mostwords -->
  </div>
</div>

<div>
  <h3>Most Decorated Users</h3>
  <div>
    <!-- BEGIN topdecorations -->
    <a class="tiny tooltipped icon card" href="/member/{topdecorations.USERNAME}" title="{topdecorations.USERNAME}, with {topdecorations.TOTAL} medals" onmouseover="show_popup({topdecorations.ID})" onmouseout="close_popup()">
      <img src="{topdecorations.USER_AVATAR_URL}" class="crisp-border" />
      <!-- <h4>{topdecorations.USERNAME}</h4>
      <h5>{topdecorations.TOTAL} medals</h5> -->
    </a>
    <!-- END topdecorations -->
  </div>
</div>

<div>
  <h3>Most Viewed Characters</h3>
  <div>
    <!-- BEGIN topcharacters -->
    <a class="tiny tooltipped icon card" href="/roleplay/{topcharacters.ROLEPLAY_URL}/characters/{topcharacters.URL}" title="{topcharacters.NAME}, with {topcharacters.TOTAL} views">
      <img src="/roleplay/{topcharacters.ROLEPLAY_URL}/characters/{topcharacters.URL}/image" class="crisp-border" />
      <!-- <h4>{topcharacters.NAME}</h4> -->
    </a>
    <!-- END topcharacters -->
  </div>
</div>

<div>
  <h3>Most Followed Characters</h3>
  <div>
    <!-- BEGIN followedcharacters -->
    <a class="tiny tooltipped icon card" href="/roleplay/{followedcharacters.ROLEPLAY_URL}/characters/{followedcharacters.URL}" title="{followedcharacters.NAME}, with {followedcharacters.TOTAL} followers">
      <img src="/roleplay/{followedcharacters.ROLEPLAY_URL}/characters/{followedcharacters.URL}/image" class="crisp-border" />
      <!-- <h4>{followedcharacters.NAME}</h4> -->
    </a>
    <!-- END followedcharacters -->
  </div>
</div>

<div>
  <h3>Most Viewed Settings</h3>
  <div>
    <!-- BEGIN topsettings -->
    <a class="tiny tooltipped icon card" href="/roleplay/{topsettings.ROLEPLAY_URL}/places/{topsettings.URL}" title="{topsettings.NAME}, a part of {topsettings.ROLEPLAY_NAME}, with {topsettings.TOTAL} views">
      <img src="/roleplay/{topsettings.ROLEPLAY_URL}/places/{topsettings.URL}/image" class="crisp-border" />
      <!-- <h4>{topsettings.NAME}</h4> -->
    </a>
    <!-- END topsettings -->
  </div>
</div>

<div>
  <h3>Most Viewed Roleplays</h3>
  <div>
    <!-- BEGIN toproleplays -->
    <a href="/roleplay/{toproleplays.URL}" class="tiny tooltipped icon card" title="{toproleplays.TITLE}: {toproleplays.DESCRIPTION}">
      <img src="/roleplay/{toproleplays.URL}/image" class="crisp-border">
      <!-- <h4>{toproleplays.TITLE}</h4> -->
    </a>
    <!-- END toproleplays -->
  </div>
</div>

<div>
  <h3>Most Appreciated Topics</h3>
  <div>
    <!-- BEGIN toptopics -->
    <a class="tiny tooltipped icon card" href="/viewtopic.php?p={toptopics.ID}" title="{toptopics.USERNAME}, with {toptopics.TOTAL} received for post #{toptopics.ID}" onmouseover="show_popup({toptopics.ID})" onmouseout="close_popup()">
      <img src="{toptopics.USER_AVATAR_URL}" class="crisp-border" />
      <!-- <h4>{toptopics.USERNAME}</h4>
      <h5>{toptopics.TOTAL} medals</h5> -->
    </a>
    <!-- END toptopics -->
  </div>
</div>

<div>
  <h3>Most Appreciated Posts</h3>
  <div>
    <!-- BEGIN topposts -->
    <a class="tiny tooltipped icon card" href="/viewtopic.php?p={topposts.ID}" title="{topposts.USERNAME}, with {topposts.TOTAL} received for post #{topposts.ID}" onmouseover="show_popup({topposts.ID})" onmouseout="close_popup()">
      <img src="{topposts.USER_AVATAR_URL}" class="crisp-border" />
      <!-- <h4>{topposts.USERNAME}</h4>
      <h5>{topposts.TOTAL} medals</h5> -->
    </a>
    <!-- END topposts -->
  </div>
</div>

<!-- INCLUDE overall_footer.html -->
