<div class="special panel">
  <h3>
      <a href="/tags/original"><small class="subtle">#</small>original</a> &nbsp;
      <a href="/tags/adventure"><small class="subtle">#</small>adventure</a> &nbsp;
      <a href="/tags/drama"><small class="subtle">#</small>drama</a> &nbsp;
      <a href="/tags/tabletop"><small class="subtle">#</small>tabletop</a> &nbsp;
      <a href="/tags/scifi"><small class="subtle">#</small>scifi</a> &nbsp;
      <a href="/tags/fantasy"><small class="subtle">#</small>fantasy</a> &nbsp;
      <a href="/tags/space"><small class="subtle">#</small>space</a> &nbsp;
      <a href="/tags/steampunk"><small class="subtle">#</small>steampunk</a> &nbsp;
      <a href="/tags/futuristic"><small class="subtle">#</small>futuristic</a> &nbsp;
      <a href="/tags/medieval"><small class="subtle">#</small>medieval</a> &nbsp;
      <a href="/tags/rpg"><small class="subtle">#</small>rpg</a> &nbsp;
      <a href="/tags/open"><small class="subtle">#</small>open</a> &nbsp;
      <a href="/tags" class="button">browse all tags &raquo;</a>
  </h3>
</div>
