<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE roleplay_controls.html -->

<!-- IF not S_USER_LOGGED_IN -->
<div id="content" class="panel bg3">
	<div class="inner" style="font-size: 1.5em;"><span class="corners-top"></span>
		<style type="text/css">
			h3.special {
				font-weight: normal;
				border-bottom: 1px solid #CCCCCC;
				font-size: 1.6em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				padding-bottom: 0.5em;
			}
		</style>

		<!-- INCLUDE explainer.html -->
    <p style="margin-top: -3em;"><center><strong>When you're ready to continue,</strong> <a href="/ucp.php?mode=register" class="button">Create an Account &raquo;</a></center></p>

		<span class="clearfix"></span>
	<span class="corners-bottom"></span></div>
</div>
<!-- ENDIF -->

<!-- INCLUDE hotspots.html -->
<!-- INCLUDE featured-users.html -->
<!-- INCLUDE roleplay-list-body.html -->
<div class="special panel">
	<h3>Items for Sale</h3>
	<!-- INCLUDE buyable-items-scroller.html -->
</div>

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
