<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->
<!-- INCLUDE stylesheet_quill.html -->

<h2>Invitations</h2>
<p>Earn <small>INK</small> for inviting your friends.</p>

<div class="special panel">
  <h3>How this works</h3>
  <p>Enter your friend's email address to invite them to the system.  They'll receive a simple message with a link to join — when they do, you'll receive credit for their registration and earn the special title of "Trustee".</p>
  
  <h4>What is a Trustee?</h4>
  <p>Trustees are responsible for showing their friends around.  In return, RPG provides rewards in the form of <a href="/assets/ink">INK</a> as the new user passes certain milestones in their onboarding journey.  Stay tuned, as we'll be revealing more details as part of the RPG Achievements system.</p>

  <h4>Current Leaderboard</h4>
  <ol>
    <!-- BEGIN leaderboard -->
    <li><a href="{leaderboard.USERNAME_LINK}">{leaderboard.FROM_NAME}</a>, trustee for {leaderboard.TOTAL} users</li>
    <!-- END leaderboard -->
  </ol>
</div>

<div class="special panel">
  <h3>Invite a Friend</h3>
  <form action="/invitations" method="POST" style="width: 50%;">
    <input name="email" placeholder="your.friend@email.com" type="text" class="supersize inputbox" style="width: 100%;" />
    <div>
      <label>Your Message:</label><br />
      <textarea rows="2" name="message" style="width: 100%;"></textarea>
    </div>
    <center style="display: inline-block; float: right;">
      <button type="submit" class="button"><span style="border-right: 1px solid gray; padding-right: 0.5em; margin-right: 0.25em;">+100 <small>INK</small></span> Invite &raquo;</button>
      <p><small>+25 each after</small></p>
    </center>
    <div class="clearfix" style="clear: both;"></div>
  </form>
</div>

<div class="special panel">
  <h3>Your Invitations</h3>
  <table style="width: 100%;">
    <thead>
      <tr>
        <!-- IF S_IS_ERIC -->
        <td>ID</td>
        <td>From</td>
        <td>Sent</td>
        <td>Opened</td>
        <td>Accepted</td>
        <!-- ELSE -->
        
        <!-- ENDIF -->
        <td>Gravatar</td>
        <td>Email</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <!-- BEGIN invitations -->
      <tr>
        <!-- IF S_IS_ERIC -->
        <td>{invitations.ID}</td>
        <td>{invitations.FROM_NAME}</td>
        <td>{invitations.CREATED}</td>
        <td>{invitations.OPENED}</td>
        <td>{invitations.ACCEPTED}</td>
        <!-- ELSE -->
        
        <!-- ENDIF -->
        <td><img src="https://www.gravatar.com/avatar/{invitations.HASH}?s=100&d=identicon&r=PG" /></td>
        <td>{invitations.EMAIL}</td>
        <td>{invitations.STATUS}</td>
      </tr>
      <!-- END invitations -->
    </tbody>
  </table>
</div>

<!-- INCLUDE overall_footer.html -->
