<ul>
	<li>
		<span style="font-weight: bold;">No trolling.</span><br>Deliberately provoking arguments is a bannable offense.<br><br>
	</li>
	<li>
		<span style="font-weight: bold;">No spamming.</span><br>This includes flooding (repeating messages over and over), mass PMs to members, and joining any part of the site with the sole intent to advertise.<br><br>
	</li>
	<li>
		<span style="font-weight: bold;">Respect the sensitivity of others.</span><br>We require everyone to maintain common sensitivity, which means:<br>- No public intimacy (this includes roleplay)<br>- No racist, bigoted, or excessively vulgar language.<br>- No pornography or otherwise rated "X" material.<br>Links to any page that violates our main decency rule is grounds for an immediate kickban and warning on your account.<br><br>
	</li>
	<li>
		<span style="font-weight: bold;">Respect the staff.</span><br>Our staff <span style="font-weight: bold;">will</span> treat you with respect <span style="font-weight: bold;">by default</span>, so you have no reason to mistreat them.<br><br>
	</li>
	<li>
		<span style="font-weight: bold;">No arguing, no bitching.</span><br>Take it to PM or the <a href="http://gwing.net/viewforum.php?f=36" class="postlink">Flame Wars</a> forum.  Intelligent debate is welcome, but when your emotions take control of your actions, you are in violation of this rule.
	</li>
</ul>