<!-- INCLUDE overall_header.html -->
<h2>{L_PAGES}</h2>
<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt style="width: 75%;">{L_PAGE}</dt>
						<dd style="width: 20%; float:right; text-align: center;">{L_AUTHOR}</dd>
					</dl>
				</li>
			</ul>
			<!-- BEGIN pagelist -->
			<ul class="topiclist">
					<li class="row bg1"><dl>
						<dt><a href="{pagelist.PAGE_LINK}" class="topictitle" style="width: 75%;">{pagelist.PAGE_TITLE}</a><br />
							{pagelist.PAGE_DESC}</dt>
						<dd style="width: 20%; float:right; text-align: center;">{pagelist.PAGE_AUTHOR}</dd>
					</dl>
				</li>
			</ul>
			<!-- END pagelist -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->