<!-- INCLUDE overall_header.html -->
<h2>Involving Gambling in Your RPG Campaign</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>

			<p>I'm not suggesting you bring your players into a fantasy-world casino where they can lose their fantasy money to evil troll dealers or to wizards playing crooked dice.</p> 
			<p>What I mean by the title is that an element of gambling could spice up your role-playing adventure and give players a nice challenge. It's a tip if you're <a href="//www.roleplaygateway.com/need-help-with-creating-plot-need-tips-t15201.html">stuck in the game invention</a>.</p> 
			<p>Basically, it's about forcing your players to choose between alternatives that involve varying degrees of risk and reward.</p> 
			<p>For example, let a group of treasure hunters decide how much of the treasure they want to carry back with them. It should be clear to them that carrying too much will risk the entire expedition.</p> 
			<p>It could be that they need to cross a body of water in a rickety ferry that becomes more and more unstable as the weight increases. Or if they take too much out of the treasure, the <a href="http://www.wizards.com/default.asp?x=dnd/drtoc/371">dragon</a> that guards it may discover the theft and come looking for them.</p> 
			<p>Players should be required to weigh risks against the reward they will get if they succeed. This creates excitement, and it will test the group's solidarity. </p> 
			<p>Players have different tastes about taking risks, and the debate on how much of a gamble the triumph is worth can become a real challenge. This creates some exciting dynamics in the game.</p> 
			<p>To have the gambling aspect work well, the alternatives should probably be pretty clear to the players. Somehow they should be able to make a rather precise assessment of the risk that's connected to the available alternatives.</p> 
			<p>Just as an example, that rickety ferry shipment could be decided using a die roll that is modified with the amount of gold that's being carried.</p> 
			<p>Say, for example, that to make it across the water with the ferry, the players need to roll more than their gold cargo divided by 1000 with a roll of 2D6+4. </p> 
			<p>With 5,000 gold they are certain to make it, with more than 15,000 they will lose it all. Anything in between gives them a certain chance, which they can calculate if they want to.</p> 
			<p>Let some character in the companionship have the ability to estimate this die roll. It could be a technical or scientific ability. As usual, if that character doesn't come along or is side-tracked on the way, the group's odds worsen.</p> 
			<p>As you see, I'm not talking of inviting players to a fantasy <a href="http://www.casinoguide.com/baccarat.html">baccarat game</a> with a dangerous secret dwarf agent. Force players to weigh pros and cons and you have set up a really nice gambling element in your role-playing adventure.</p> 
				
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->