<!-- INCLUDE overall_header.html -->
<!-- IF S_PAGE_HIDDEN -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
			<p>{L_PAGE_HIDDEN}</p>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>{PAGE_TITLE}</h2>
	<div class="content" style="font-size: 1.25em">
		{PAGE_CONTENT}
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->