<!-- INCLUDE overall_header.html -->
<h2>Promote Your Roleplay</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		
	<h3>The situation.</h3>
	<p>You've got a kick-ass roleplay that you've spent all week working on, writing and editing your first post.  Now that it's time to get started, you'll need to go find the most important ingredient: <strong>great roleplayers</strong>.</p>
	
	<h3>The solution.</h3>
	<p>For a very reasonable and affordable price, we'll let you create an advertisement that will be posted on our content network.  It will be displayed to hundreds of active, high-quality, and experienced roleplayers - and we'll let you do all the work in actually <em>running</em> the roleplay, so you don't waste time looking for players!</p>
	
	<h3>Offers &amp; Prices</h3>
	<p>For <strong>$5 USD per month</strong>, we will post a link to your topic under the "Featured Roleplay" section on several major pages around RolePlayGateway.</p>
	<div style="text-align:center;">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="1410301">
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="">
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->