<!-- INCLUDE overall_header.html -->

<style type="text/css">
h3 {
  border: 0;
}

.place {
  margin-top: 1em;
}

.place p {
  margin: 0;
}

.parent.overflow {
  max-width: calc(100%);
  overflow: hidden;
  height: 93px;
}
</style>

<div class="special panel">
  <h1>Places</h1>
  <h3>Settings, Worlds, and Threads</h3>
  <p class="supersize"><strong>Find a <abbr title="Used as background for story, a rich and robust setting can make (or break!) a roleplay.">setting</abbr> which suits your fancy!</strong>  Use the <a href="/universes/the-multiverse/characters/new?birthplace=20101" class="button">Start Here &raquo;</a> button to create a character, or pick from the portraits of your existing characters.  Once a location is selected, your character will remain there until you move them.</p>
  <div style="text-transform: uppercase;">
    <strong>see also:</strong>:
    <a href="/tags/inspiration"><small class="subtle">#</small>inspiration</a>
    <a href="/tags/storytelling"><small class="subtle">#</small>storytelling</a>
    <a href="/tags/worldbuilding"><small class="subtle">#</small>worldbuilding</a>
  </div>

  <hr></hr>

  <h3>Your Characters</h3>
  <div>
    <!-- BEGIN user_characters -->
    <a href="/explorer?roleplayID={user_characters.ROLEPLAY_ID}&characterID={user_characters.ID}" title="{user_characters.NAME}: connect client"><img src="/universes/{user_characters.ROLEPLAY_SLUG}/characters/{user_characters.SLUG}/image" alt="Portrait of {user_characters.NAME}" class="small crisp-border" /></a>
    <!-- END user_characters -->
  </div>

  <hr></hr>

  <div>
    <!-- BEGIN places -->
    <div class="place" style="height: auto;" data-name="{places.NAME}" data-synopsis="{places.SYNOPSIS}">
      <div style="float: right; margin-left: 1em;">
        <h3 style="text-align: right;">
          <small><a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}#activity">{places.POSTS} posts</a></small>
           &middot;
          <small><a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}#characters">{places.CHARACTER_COUNT} characters present</a></small>
           &middot;
          <small>last post <a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}/#roleplay{places.LAST_POST_ID}">{places.LAST_POST_DATE} &raquo;</a></small>
        </h3>
        <!-- IF S_LAST_POST_CONTENT_ENABLED -->
        <div class="parent overflow quick-float-right" style="width: 400px; clear: right;">
          <div class="fancy-overflow content panel">{places.LAST_POST_CONTENT}</div>
        </div>
        <!-- ENDIF -->
      </div>
      <a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}/"><img src="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}/image" alt="{places.NAME}" class="crisp-border" /></a>
      <div>
        <h3>
          <div style="display: inline-block;">
            <!-- IF places.PARENT_ID gt 0 -->
            <small style="display:block;">
              <a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.PARENT_SLUG}/">{places.PARENT_NAME}</a>
            </small>
            &#8618;
            <!-- ENDIF -->
            <!-- <small># {places.ID}</small> -->
            <a href="/universes/{places.ROLEPLAY_SLUG}/places/{places.URL}/">{places.NAME}</a>
            <small><strong>Owner: {places.OWNER_USERNAME}</strong></small>
          </div>
        </h3>
      </div>
      <div class="quick-float-right">
        <!-- IF .places.user_characters -->
        <!-- BEGIN user_characters -->
        <a href="/explorer?roleplayID={user_characters.ROLEPLAY_ID}&characterID={user_characters.ID}" title="Select {user_characters.NAME} &raquo;"><img src="/universes/{user_characters.ROLEPLAY_SLUG}/characters/{user_characters.SLUG}/image" alt="Portrait of {user_characters.NAME}" class="small crisp-border" /></a>
        <!-- END user_characters -->
        <!-- ELSE -->
        <strong>You can choose to </strong>
        <!-- ENDIF -->
        <a href="/ucp.php?i=characters&mode=new&roleplay_url={places.ROLEPLAY_SLUG}&birthplace={places.ID}" class="button">Play Here &raquo;</a>
      </div>
      <p>{places.SYNOPSIS}</p>
    </div>
    <hr style="margin-top: 3em;" />
    <!-- BEGINELSE -->
      <p class="supersize">There are no places in this roleplay!</p>
    <!-- END places -->
  </div>

  <!-- IF .buyable_places -->
    <!-- INCLUDE buyable-places-scroller.html -->
  <!-- ENDIF -->
  <br class="clearfix" />
</div>

<!-- INCLUDE overall_footer.html -->
