<div>
  <h3>Open Stores</h3>
  <div>
    <table width="100%">
      <!-- BEGIN stores -->
      <tr>
        <td>
          <a href="{stores.LOCATION_LINK}" class="quick-float-left"><img src="{stores.LOCATION_IMAGE_LINK}" class="medium crisp-border" /></a>
          <div>
            <h4><a href="{stores.LINK}">{stores.NAME}</a>, located in <a href="{stores.LOCATION_LINK}">{stores.LOCATION_NAME}</a></h4>
            <p>{stores.DESCRIPTION}</p>
          </div>
        </td>
        <td><strong>{stores.ITEM_COUNT}</strong> unique wares</td>
        <td><a href="{stores.LINK}" class="button">Shop &raquo;</a></td>
      </tr>
      <!-- END stores -->
    </table>
  </div>
</div>
