<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<!-- IF S_CAN_EDIT -->
<script type="text/javascript">
	document.taggedCharacters = [];
</script>
<style type="text/css">
  .characterTagging { font-size: 1.4em; vertical-align: middle; }
  .taggedCharacters { display: block; padding-top: 0.5em; }
  .hovered { border: 1px dotted red; }
  .micro { height: 30px; width: 30px; margin-right: 5px; vertical-align: middle; }
  .prettyCenter { font-weight: bold; }
  .postTaggedCharacter { display: block; border-radius: 3px; background: #ccc; margin-left: 5px; margin-right: 5px; padding-right: 5px; border: 1px solid black; }
  .submitTaggedCharacters { font-weight: bold; margin-top: 0.5em; }
	.bundleList > div { clear: both; padding: 0.2em; }
	.bundleList > div > input[type=button] { float: right; }
	#addCharacterControls { display: none; }
	#addCharacterControls input { font-weight: bold; font-size: 1.2em; padding: 0.5em; margin: 0.5em; border-radius: 3px;}
</style>
<!-- ENDIF -->

<img src="/universes/{ROLEPLAY_URL}/groups/{GROUP_URL}/logo" class="crisp-border" style="float:left; height: 100px; width: 100px; margin-right: 10px;" />
<h1 style="color:#596E7C; margin-right: 0;">
  <!-- IF S_CAN_EDIT --> <a href="/ucp.php?i=roleplays&mode=edit_group&group_id={GROUP_ID}&roleplay_id={ROLEPLAY_ID}" class="button quick-float-right">Edit</a><!-- ENDIF -->
  <a href="/universes/{ROLEPLAY_URL}/">{ROLEPLAY_TITLE}</a> &raquo; <a href="/universes/{ROLEPLAY_URL}/groups">Groups</a> &raquo; <a href="/universes/{ROLEPLAY_URL}/groups/{GROUP_URL}">{GROUP_NAME}</a>
</h1>
<p style="font-size: 1.5em; margin-bottom: 0.5em;">{GROUP_SYNOPSIS}</p>

<!-- IF S_SOCIAL_CONTROLS_ENABLED -->
<div style="margin: 1em;">
 	<div style="display:inline;">
 		<g:plusone annotation="inline" href="/universes/{ROLEPLAY_URL}/groups/{GROUP_URL}"></g:plusone>
	</div>
	<div style="display:inline;">
		<div class="fb-like" data-send="false" data-layout="standard" data-width="350" data-show-faces="false" data-colorscheme="light" data-action="like" data-href="/universes/{ROLEPLAY_URL}/groups/{GROUP_URL}"></div>
	</div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
    <div class="postbody" style="width:100%;"><div class="content">
      <h2>Description</h2>
      <div>{GROUP_DESCRIPTION}</div>
    </div></div>

    <div>
      <div>
        <h2>Characters Aligned</h2>
        <!-- <h3><strong>{PLACE_COUNT}</strong> Places Controlled</h3> -->
        <h2><!-- IF S_CAN_EDIT --><input type="text" class="characterSearch" style="float: right;" placeholder="Add Character..." /><!-- ENDIF --><strong>{CHARACTER_COUNT}</strong> Characters Aligned, played by <strong>{UNIQUE_PLAYERS}</strong> Players</h2>
  			<!-- IF S_CAN_EDIT --><div id="addCharacterControls"><h3>Adding to Group:</h3> <div id="taggedCharacters"></div><input type="button" value="Add &raquo;" style="float: right;" /><hr /></div><!-- ENDIF -->
  			<!-- BEGIN characters -->
  			<div>
  				<a href="/universes/{ROLEPLAY_URL}/characters/{characters.URL}" class="quick-float-left"><img src="/universes/{ROLEPLAY_URL}/characters/{characters.URL}/image" class="crisp-border medium" alt="Character Portrait: {characters.NAME}" /></a>
  				<div>
  					<h3><a href="/universes/{ROLEPLAY_URL}/characters/{characters.URL}"><strong>{characters.NAME}</strong></a><!-- IF characters.S_CHARACTER_ANONYMOUS --><!-- ELSE --> <span><em>played by {characters.OWNER_USERNAME}</em></span><!-- ENDIF --></h3>
    				<p>{characters.SYNOPSIS}</p>
  				</div>
          <div class="clearfix"></div>
  			</div>
  			<!-- BEGINELSE -->
  				<p class="supersize">There are no characters in this group!</p>
  			<!-- END characters -->
  			
  			<br class="clear" />
  			
        <a name="places" class="anchor"></a>
  			<h2><a href="#places"><strong>{POST_COUNT}</strong> posts in <strong>{PLACE_COUNT}</strong> places</a></h2>
  			<!-- BEGIN places -->
        <div class="place-icon" style="text-align:center; display: inline-block; max-width: 100px;">
          <a href="/universes/{ROLEPLAY_URL}/places/{places.URL}">
            <img src="/universes/{ROLEPLAY_URL}/places/{places.URL}/image" title="{places.SYNOPSIS}" class="crisp-border" style="height: 50px; width: 50px; display: block;" />
            <h5 style="">{places.NAME}</h5>
            <h6><strong>{places.POST_COUNT}</strong> posts</h6>
          </a>
        </div>
  			<!-- BEGINELSE -->
  				<p class="supersize">This group hasn't been very active!</p>
  			<!-- END places -->
      </div>
    </div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- IF S_CAN_EDIT -->
<script type="text/javascript">
  $('.characterSearch').autocomplete({
    source: function(request, response) {
      $.ajax({
        url: '/universes/{ROLEPLAY_URL}/characters.json',
        dataType: 'json',
        data: {
          search: request.term
        },
        success: function(data) {
          response( $.map( data, function (character) {
            return {
              label: '<div class="prettyCenter"><img class="micro" src="/universes/{ROLEPLAY_URL}/characters/'+ character.url + '/image">' + character.name + '</div>',
              value: character.name,
              id: character.id
            }
          }));
        }
      });
    },
    // minLength: 1,
    delay: 250,
    select: function (event, ui) {
			console.log(document.taggedCharacters);
		  document.taggedCharacters.push(ui.item.id);

		  console.log(ui.item);

		  $(ui.item.label).appendTo('#taggedCharacters');

		  $('#addCharacterControls').slideDown();

		  $(this).val('');
		  return false;
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

	$('#addCharacterControls input').click(function() {
		$.post('/ucp.php?i=roleplays&mode=add_characters_to_group', {
				character_ids: document.taggedCharacters
			, roleplay_id: {ROLEPLAY_ID}
			, group_id: {GROUP_ID}
		}, function(data) {
			var self = this;
			console.log(data);
			$('#taggedCharacters > *').fadeOut();
		});
	});
</script>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
