<h3>Why should I <a href="//www.roleplaygateway.com/ucp.php?mode=register">register for RolePlayGateway</a>?</h3>
<p>RolePlayGateway offers many features, and we promise it's worth your time to <a href="//www.roleplaygateway.com/ucp.php?mode=register">register</a>!</p>
<ul>
	<li>Gain access to this page</li>
	<li>Track your writing ability</li>
	<li>Get custom URLs for your characters</li>
</ul>
<hr />
<p><strong>Registration is easy!</strong> You can <a href="//www.roleplaygateway.com/ucp.php?mode=register">register for RolePlayGateway</a> with only a username and a valid email address.</a></p>