<!-- INCLUDE overall_header.html -->
<h2>Roleplaying Tools</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>Roleplaying Tools?</h3>
		<p>More tools, coming soon!</p>
		<div style="font-size:400%; text-align:center; font-family:impact; letter-spacing:-2px;">
			<p><a href="analyze.php">Analyze</a></p>
			<p>Characters</p>
		</div>
		<p><strong>Have an idea for a roleplaying tool that isn't currently available here? Suggest a new roleplaying tool on our forums!</strong></p>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->