<!-- INCLUDE overall_header.html -->
<!-- INCLUDE stylesheet_roleplay.html -->

<h2>Edit Place: {ROLEPLAY_TITLE} &raquo; {NAME}</h2>

<form id="ucp" enctype="multipart/form-data" method="post" action="/ucp.php?i=roleplays&amp;mode=edit_place&amp;place_id={PLACE_ID}&amp;action=submit">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
		<h3>Place Information</h3>
		<fieldset>
			<!-- <dl>
				<dt>
					<label for="parent_id">Inside Of:</label><br />
					<span>Inside of what other location is this particular place?</span>
				</dt>
				<dd>
					<select name="parent_id" id="parent_id">
						<option value="-1" selected="selected">None.</option>
						{PARENT_OPTIONS}
					</select>
				</dd>
			</dl> -->
			<dl>
				<dt>
					<label for="synopsis">Entrance Message / Synopsis:</label><br />
					<span>This will be the short text displayed when someone enters this location.</span>
				</dt>
				<dd><textarea name="synopsis" id="synopsis" maxlength="255" rows="3" class="inputbox">{SYNOPSIS}</textarea></dd>
			</dl>
			<dl>
				<dt>
					<label for="place_image">Place Image:</label><br />
					<span>Upload a small 100x100 image that will represent this location in your roleplay.</span>
				</dt>
				<dd>
					<input type="hidden" name="MAX_FILE_SIZE" value="1500000" />
					<input name="userfile" type="file" />
				</dd>
			</dl>
			<dl>
				<dt><label for="description">Description:</label></dt>
				<dd><script type="text/javascript">edToolbar('description');</script><textarea name="description" id="description" rows="25" class="ed inputbox previewable">{DESCRIPTION}</textarea></dd>
			</dl>
			<dl>
				<dt>
					<label for="synopsis">Posting Fee:</label><br />
					<span>This is a small amount authors will pay to use this setting in their post.</span>
					<p style="margin-top: 1em; font-size: 0.8em;">Creators of RPG resources can earn <small>INK</small> for crafting great experiences for their players.  Learn more about <a href="/community-f129.html">designing RPGs</a> in our <a href="/rpg-design-f178.html">Game Design forum</a> or seek advice in <a href="/chat">our chat room</a>.</p>
				</dt>
				<dd><input type="number" name="posting_fee" value="{POSTING_FEE}" step="0.00000001" max="10" /></dd>
			</dl>
		</fieldset>
		
		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		</fieldset>

    <div class="content">
      <div id="innerPreview"></div>
    </div>
		
	<span class="corners-bottom"><span></span></span></div>
</div>

</form>

<!-- INCLUDE overall_footer.html -->
