<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
	alert("Please don't forget our five basic rules (click the link above).\n\nIn addition, for video chat we request that;\n\n- Have a headset. We don't want to hear an echo of ourselves.\n- No music. We have our own, thanks.\n- Maintain decent attire! (fully clothed, please)");
</script>

<center>
<object type="application/x-shockwave-flash" data="http://www.tokbox.com/vc/2gy0zzi4vgo43yn5" width="100%" height="700" pid="4b2be2470e1a0a67">
	<param name="movie" value="http://www.tokbox.com/vc/2gy0zzi4vgo43yn5"/>
	<param name="flashvars" value="guestList=true&textChat=true&showExpandButton=true"/>
</object>
</center>

<!-- INCLUDE overall_footer.html -->