<!-- INCLUDE overall_header.html -->

<h2>Voice Chat</h2>
<p><strong>Provided by RolePlayGateway</strong></p>

	<div style="float:right;">
		<script type="text/javascript">
		<!--
		var ouvert = 1;
		var style = "classic";
		var couleur_fond = "FFFFFF";
		var couleur_texte = "666666";
		var largeur = 250;
		var hauteur = 350;
		var ip = "roleplaygateway.com";
		var port = 8767;
		var query = 51234;
		var lang = "en";
		var taille_police = 12;
		var voir_salons = 1;
		//-->
		</script>
		<script type="text/javascript" src="http://www.ts-serveur.com/web_script/webscript.js"></script>
	</div>

<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>Come have a conversation with us.</h3>
	<p>If you've got <a href="http://www.amazon.com/gp/product/B000UXZQ42?ie=UTF8&tag=gwingnet-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=B000UXZQ42">a headset</a> (or if you're curious and just want to listen in!), you're more than welcome to come talk with fellow roleplayers on our voice chat.</p>
	
	<h3>How to get connected:</h3>
	<p>
		<ol style="margin-left:25px; font-size:2em;">
			<li>Download and install the <a href="http://www.goteamspeak.com/?page=downloads" rel="nofollow">TeamSpeak Client</a>.</li><br />
			<li>Open TeamSpeak and click "Connection" in the top left hand corner.</li><br />
			<li>Click "Quick Connect", and fill in the following information:<br /><br />
				<strong>Server address:</strong> roleplaygateway.com<br />
				<strong>Nickname:</strong> Your name here.
			</li><br />
			<li>Click "Connect": You're all done!</li>
		</ol>
	</p>
	
	<h3>Some Pro Tips</h3>
	<p>
		<ul style="margin-left:25px; font-size:1em;">
			<li>Set "Push to talk" - it works much better. This can be found in "Settings" -> "Sound Input/Output Settings".</li>
			<li>Do an "echo test" (in the same menu as above) to make sure everything works.</li>
			<li>Wait a few extra seconds before talking! You don't want to interrupt anyone.</li>
		</ul>
	</p>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->