<!-- $Id: stat.html,v 1.2 2007/04/10 12:42:59 angelside Exp $ //-->

<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat"><h4>{L_STATISTICS}</h4></td>
</tr>
<tr>
	<td class="row2"><strong>Stats</strong></td>
</tr>
	<td class="row1">
		Total posts: 54151<br />
		Total topics: 4144<br />
		Total announce: 5<br />
		Total stciky: 4<br /><br />

		New post: 0<br />
		New topic: 0<br />
		New announcment: 0<br />
		New sticky: 0<br /><br />
	
		Online today: 50<br />
		Online ever: 295<br />
		( Feb 02,2007 18:45 )
	</td>
</tr>
<tr>
	<td class="row2"><strong>Members</strong></td>
</tr>
<tr>
	<td class="row1">
		Total members: 1584<br />
		Latest:  ALEXIS<br />
	</td>
</tr>
<tr>
	<td class="row2"><strong>User online</strong></td>
</tr>
	<td class="row1">
		Users: 5<br />
		Hidden: 1<br />
		Guest: 3<br />
		Total: 9<br />
	</td>
</tr>

</table>
<br />