<!-- $Id: welcome.html,v 1.8 2007/04/14 02:05:17 angelside Exp $ //-->
<!-- only phpbb3portal.com version -->
<style type="text/css">
<!--
.content {
	font-size: 1.1em;
}
//-->
</style>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>

			<a href="forum.html"><img src="images/visitforum.png" style="float:right;" /></a>
		
			<div style="font-size:14px;">
				<h3>Roleplay Your Way.</h3>
				<p><a href="http://www.roleplaygateway.com/ucp.php?mode=register">Register now!</a></p>
			</div>

			<p>We're a growing community dedicated to providing one central place for all of your roleplay needs.  Use our <a href="http://www.roleplaygateway.com/index.php">roleplaying forum</a> for posting logs, tracking changes to storylines, or even forum roleplaying.  Use our <a href="http://www.roleplaygateway.com/chat.php">roleplaying chat</a> for more improvisational roleplay, or the occasional debate. Get feedback and suggestions from our highly qualified team of professional editors by posting in the <a href="http://www.roleplaygateway.com/viewforum.php?f=69">Growth Forum</a>.</p>
			<p>If you have trouble with one of our services or can't find something that you need, feel free to contact any one of our members (the admins in particular) to ask for help or suggest something.  We are one of the most friendly groups of people you'll ever meet.</p>
			<p>Just registered a new account?  Post an introduction in at the <a href="http://www.roleplaygateway.com/welcome-desk-f95.html">Welcome Desk</a> and you'll get a chance to meet some of our community.  You can ask questions there, too - everyone will be happy to point you to anything you're interested in.</p>
			
			<h2>What are Role Playing Games?</h2>
			
				<p>A role-playing game (RPG; often roleplaying game) is a game in which the participants assume the roles of fictional characters and collaboratively create or follow stories. Participants determine the actions of their characters based on their characterization, and the actions succeed or fail according to a formal system of rules and guidelines. Within the rules, players can improvise freely; their choices shape the direction and outcome of the games.</p>
				<p>A role-playing game rarely has winners or losers. That makes role-playing games fundamentally different from board games, card games, sports and most other types of games. Role-playing games are typically more collaborative and social than competitive.[1] A typical role-playing game unifies its participants into a single team, known as a "party", that plays as a group. Like serials or novel sequences, these episodic games are often played in weekly sessions over a period of months or even years, although some gamers prefer playing one session games.</p>
				<p>Role-playing games are a form of interactive and collaborative storytelling. Like novels or films, role-playing games appeal because they engage the imagination. Interactivity is the crucial difference between role-playing games and traditional fiction. Whereas a viewer of a television show is a passive observer, a player at a role-playing game makes choices that affect the story. Such role-playing games extend an older tradition of storytelling games where a small party of friends collaborate to create a story.</p>
				<p>While simple forms of role-playing exist in traditional children's games such as "cops and robbers", "cowboys and Indians" and "playing house", role-playing games add a level of sophistication and persistence to this basic idea. Instead, participants in a role-playing game will generate specific characters and an ongoing plot. A consistent system of rules and a more or less realistic campaign setting in games aids suspension of disbelief. The level of realism in games ranges from just enough internal consistency to set up a believable story or credible challenge to full-blown simulations of real-world processes.</p>
				<p>Video games incorporating settings and game mechanics found in role-playing games are referred to as computer role-playing games, or CRPGs. Due to the popularity of CRPGs, the terms "role-playing game" and "RPG" have both to some degree been co-opted by the video gaming industry; as a result, traditional non-digital pastimes of this sort are increasingly being referred to as "pen and paper" or "tabletop" role-playing games, though neither pen and paper nor a table are strictly necessary.</p>
					
			<p><a href="http://www.roleplaygateway.com/ucp.php?mode=register">Register for an account today!</a>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" />


<!-- only package version
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_WELCOME}</h3>
			{L_WELCOME_INTRO}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" /> -->
