<!-- $Id: whos_online.html,v 1.3 2007/04/11 01:44:52 angelside Exp $ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_WHO_IS_ONLINE}</h3>
			<span style="float:left;">{L_WIO_TOTAL}:</span><span style="float:right;padding-right:10px;">{TOTAL_ONLINE_USERS}</span><br /><hr width="90%" />
			<span style="float:left;">{L_WIO_REGISTERED}:</span><span style="float:right;padding-right:10px;">{VISIBLE_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_HIDDEN}:</span><span style="float:right;padding-right:10px;">{HIDDEN_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_GUEST}:</span><span style="float:right;padding-right:10px;">{GUEST_ONLINE}</span><br />
			<small>
				<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><br />
				{L_LEGEND} :: {LEGEND}
				<!-- ENDIF -->
			</small>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br clear="all" />